[2014-11-05 20:00] schmatz opened #3 "Mac OSX support incomplete"
As per the readme, OS X support is incomplete. What work needs to be done to achieve full compatibility?

[2014-11-05 20:04] tonka3000 opened #4 "Support for Windows (Server)"
Hey,

First of all, thanks for opensource proxygen. It seems to be an interesting project.

At the moment proxygen works on linux only,but support for windows would be nice to have. I know that facebooks main focus are linux distros but windows support would be a good way to make proxgen platform independent.

Greetings
Tonka

[2014-11-05 20:24] #4 closed, assigned to nobody

[2014-11-05 22:37] ericlaw1979 opened #7 "Update comment"
proxygen/external/http_parser/http_parser_cpp.cpp
1974            /*
1975             \* just ignore this shit. TODO check for overflow

Suggest something like: "Ignore chunk parameters. They're not used in any HTTP implementation."

[2014-11-05 22:41] #7 closed, assigned to nobody

[2014-11-06 01:06] ixtli opened #9 "CMake!"
I'm really interested in this project for some personal stuff I'm doing, but I think it would make the project more accessible if it used CMake instead of interfacing directly with Autotools. You might also leverage some free portability, too, as CMake emits VS and XCode projects, all from one configuration.

[2014-11-06 01:50] #9 closed, assigned to nobody

[2014-11-07 19:14] ramrengaswamy opened #12 "Missing ax_prefix_config_h.m4"
Installation fails with:
./configure: line 2672: syntax error near unexpected token `proxygen-config.h,'

./configure: line 2672: `AX_PREFIX_CONFIG_H(proxygen-config.h, proxygen, config.h)'

Can be fixed by copying ax_prefix_config_h.m4 to proxygen/proxygen/m4

[2014-11-07 19:18] ramrengaswamy opened #13 "Include files missed during install"
In proxygen/proxygen/lib/http/Makefile.am:
nobase_libproxygenhttp_HEADERS is missing the following two headers:
session/AckLatencyEvent.h
session/TTLBAStats.h

I am trying to build a HTTPClient using the low level Proxygen APIs (HTTPTransaction, HTTPUpstreamSession, HTTPConnect) and my build fails due to those missing headers.

[2014-11-07 19:24] #13 closed, assigned to nobody

[2014-11-09 03:50] y-uti opened #14 "Wrong namespace of gflags (in test code)."
I've built on CentOS7, everything seems OK but "make check" doesn't work because of the wrong namespace of gflags. (I used gflags-2.1.1.)

[code]

[code]

[2014-11-10 22:49] #14 closed, assigned to nobody

[2014-11-11 05:00] rezacute opened #19 "Connection reset problem on Echo sample"
After compiling latest master branch, I ran echo server and got connection reset.
Perviously it was OK.
Below is the response.

[code]

[2014-11-11 08:35] elfring opened #20 "Complete build options for Pthread API"
Would you like to add the configuration script "[AX_PTHREAD](http://www.gnu.org/software/autoconf-archive/ax_pthread.html)" to [your build specification](https://github.com/facebook/proxygen/blob/6bddb345f0ab85c9baf7f87399889452ace003ab/proxygen/configure.ac#L229)?

[2014-11-11 08:44] elfring opened #21 "Use of angle brackets around file names for include statements"
Would you like to [replace any double quotes](https://github.com/facebook/proxygen/blob/5e667ec056f34573119aec20f3fd4f48fc67d59f/proxygen/lib/http/HTTPConnector.h#L12) by [angle brackets around file names for include statements](http://stackoverflow.com/questions/21593/what-is-the-difference-between-include-filename-and-include-filename)?

[2014-11-12 03:06] #19 closed, assigned to nobody

[2014-11-13 00:29] #21 closed, assigned to nobody

[2014-11-17 09:46] skypjack opened #22 "./deps.sh hangs up on libevent"
I've cloned proxygen and launched deps.sh from proxygen dir.
It stops after a while as follows:

[code]

By the way, libevent is still there having a version greater than 1.0, as follows:

[code]

Could it be the multiarch environment the problem?
I cannot figure out how to proceed, I'm sorry.
Let me know if I can help you providing more details.

Thank you,
Michele

[2014-11-17 17:42] #22 closed, assigned to nobody

[2014-11-17 17:55] #20 closed, assigned to nobody

[2014-11-17 18:17] #12 closed, assigned to nobody

[2014-12-26 12:28] vaibhav-kaushal opened #25 "Unable to install Proxygen"
I ran the commands as mentioned (run ```./deps.sh``` and then ```./reinstall.sh```) but the installation fails. Here are the last few lines of the make output: https://gist.github.com/vaibhav-kaushal/586b51257494d56e673a

Basically it never gets out of that tests folder. Here is a screenshot:

![screenshot 2014-12-26 17 54 07](https://cloud.githubusercontent.com/assets/2824682/5557551/3c603794-8d2

[2015-01-02 22:15] kekekeks opened #26 "It's impossible to upgrade connection asynchroniously"
If the response wasn't sent inside RequestHandler::onRequest and is sent later, RequestHandler will recieve EOM instead of upgrade.

I. e. this scenario does not work as expected:
[code]

[code]

[2015-01-02 22:25] kekekeks commented on #26
Oh, sorry. I figured out, that I should call pauseIngress/resumeIngress to do that.

[2015-01-02 22:25] #26 closed

[2015-01-04 14:27] sethkrasnianski opened #27 "Gitter chat room"
While google groups offer great open forums, a channel for bouncing ideas around would be great. Having a gitter channel for this repository would support immediate correspondence and be beneficial for the community aspect of this project.

[2015-01-07 04:12] vaibhav-kaushal commented on #25
Cool. Thanks! When is it expected to be pushed? I wanted to work on Proxygen and since the compilation process just gets stuck, I can't (I guess it is the testing phase where it gets stuck, but I'm clueless about how to use Proxygen from this state).

[2015-01-07 20:45] port8080 commented on #25
Fix has been pushed out. If you start with a clean checkout of the proxygen codebase, you should be able to run the compilation process to completion.

Sorry about that!

[2015-01-08 08:57] vaibhav-kaushal commented on #25
And here is a new problem!

![screenshot 2015-01-08 14 25 28](https://cloud.githubusercontent.com/assets/2824682/5660123/694e6c44-9742-11e4-9f7b-ef6961212ef7.png)

[2015-01-08 18:46] viswanathgs commented on #25
Could you paste the complete output?

[2015-01-09 08:00] vaibhav-kaushal commented on #25
I am putting in the output which was available in the terminal (some output which was produced previously during compilation had scrolled past the terminal).

http://pastebin.com/JNGsjitJ

[2015-01-09 22:41] chaitanyav commented on #3
@rezacute how did you get folly working on osx.

[2015-01-13 18:13] viswanathgs commented on #25
This is due to a missing dependency in github.com/facebook/folly. Fix for folly is on the way. I'll get back once we're good. Thanks!

[2015-01-13 19:08] viswanathgs commented on #25
I just pushed a new version of https://github.com/facebook/folly to add the missing dependency. Could you stash your locally folly build and try recompiling proxygen?

[2015-01-13 23:10] vaibhav-kaushal commented on #25
Nope, still does not work. Now it goes farther but fails with this: http://pastebin.com/V0yfhEHn

[2015-01-13 23:14] vaibhav-kaushal commented on #25
Is it possible to make proxygen work without folly? (or thrift?). I am trying to implement a small HTTP server myself and would want to copy the code from proxygen. Since it is BSD code, I feel relatively free but I am not great with C++ right now.

[2015-01-14 00:36] viswanathgs commented on #25
It turned out to be a dependency in fbthrift this time, and it's been fixed now. Sorry about that.
We should soon be independent of thrift, but proxygen libs very heavily relies on folly, so removing that dependency wouldn't be quite feasible.

[2015-01-14 01:43] vaibhav-kaushal commented on #25
Thanks. I will try to recompile.

And I do not like dependencies. So it’d be great to have thrift as an option! :)

[2015-01-14 02:05] vaibhav-kaushal commented on #25
It compiled. reinstall.sh ran successfully as well. The message it shows after deps.sh complete is this: http://pastebin.com/d2UB6bsk <http://pastebin.com/d2UB6bsk>

I think it’s done. I will proceed with testing. Just wanted to say - if you can, adding a message like “Compilation done, proceed with reinstall.sh” would be a good thing.

Thanks for your immediate replies and help with this issue.

[2015-01-14 21:07] viswanathgs commented on #25
Great, thanks for sticking with this!

[2015-01-14 21:07] #25 closed

[2015-02-01 12:31] denji commented on #3
@rezacute find "libthrift.*.dylib" and relinking `install_name_tool`

[code]

[2015-02-23 09:39] hilnius opened #32 "Create a ./deps.sh option to compile using a certain number of threads"
I've had problems compiling proxygen because of the amount of RAM proxygens compilation takes. I've noticed that 8 cc1plus instances were running and as my computer has limited capacity, those instances were just taking up too much RAM for the system resulting in a failed compilation.

I've solved that problem by increasing my swap.

Specifying how many processes should run at the same time could

[2015-02-23 18:06] afrind commented on #32
Thanks for the report, we'll take a look

[2015-03-06 00:01] gilgil1973 opened #33 "Calling deps.sh twice causes an error."
Hi, thank you for your great product proxygen. Nowadays I am in the middle of reviewing feature of proxygen, and have a question.

No error occurs when I call deps.sh for the first time. But calling twice "deps.sh" causes and error as follows.

"fatal: destination path 'fbthrift' already exists and is not an empty directory.
Cannot rebase: You have unstaged changes.
Please commit or stash them."

[2015-03-12 20:17] gxela opened #35 "bthrift+folly build failed"
I have a little bit of time right now(between jobs), so I will try to fix the install script.

[code]

[2015-03-12 20:21] gxela commented on #35
there is already a issue reported about this memory issue, this is a duplicate

[2015-03-12 20:21] #35 closed

[2015-03-25 13:07] naveen24691 opened #36 "Build Issues"
Hi,
   When I was trying to build the proxygen, I got the "fbthrift +folly Build failed" error.
   After digging into it, I found out that proxygen is building the older version of fbthrift and also fbthrift is trying to build older version of folly. So I cloned the latest fbthrift/folly and build it separately and commented out the fbthrift /folly build script in "proxygen/deps.sh". Now it worked

[2015-03-25 14:50] bugok commented on #36
Hello @naveen24691,
Thank you for reporting this. I'll get on it.
Noam.

[2015-03-28 01:38] bugok commented on #36
@naveen24691 I just pushed a new version that should fix this.
Please let us know if you continue to see errors.

[2015-03-28 01:38] #36 closed

[2015-03-28 03:24] ajz01 opened #37 "PIC register clobbered by 'ebx' in 'asm'"
This maybe a dup issue:

In file included from Bits.cpp:19:0:
./../folly/CpuId.h: In function 'int (* {anonymous}::folly_popcount_ifunc())(unsigned int)':
./../folly/CpuId.h:49:62: error: PIC register clobbered by 'ebx' in 'asm'
     __asm__("cpuid" : "=a"(n) : "a"(0) : "ebx", "edx", "ecx");
                                                              ^
./../folly/CpuId.h:51:65: error: PIC regist

[2015-03-28 03:44] ajz01 commented on #37
attempted to build from folly githum repo directly and got the same error. There appears to be a similar issue already open in that repo #115. Closing since this issue is open in folly repo.

[2015-03-28 03:44] #37 closed

[2015-03-31 16:59] afrind commented on #27
We have a channel on irc.freenote.net called #proxygen.

[2015-03-31 16:59] #27 closed

[2015-03-31 17:15] sethkrasnianski commented on #27
:+1:

On Tue, Mar 31, 2015 at 12:59 PM, afrind <notifications@github.com> wrote:

[2015-03-31 18:10] afrind commented on #27
Typo: irc.freenode.net

[2015-04-03 16:52] afrind commented on #33
I removed the dependency on fbthrift (now proxygen depends only on folly) and added the proper shell logic to not clone folly if it appears to be there already.

[2015-04-03 16:52] #33 closed

[2015-04-03 16:55] afrind commented on #3
Maybe try again now that the dependency on fbthrift has been removed?

[2015-04-06 01:26] aajtodd opened #38 "Make fails gen_HTTPCommonHeaders.cpp.sh: command not found"
Clean checkout of proxygen (72622b8) fails to build.

Checked out the latest proxygen and was unable to build it.

Ran `./deps.sh` which makes its way to this error:
[code]

I drilled down to the specific makefile and tried to run it independently:
[code]

Even modified the path to include that directory but the sed command in the script fails as well, which is where I gave up (not a sed or makefi

[2015-04-07 20:23] jwatzman commented on #38
The `sed` failure has something to do with newline escaping, and `bash` vs `dash`. If you change `lib/http/gen_HTTPCommonHeaders.cpp.sh` to start with `#!/bin/bash` the problem goes away.

[2015-04-07 21:32] aajtodd commented on #38
It crossed my mind yesterday that could  be the issue. Confirmed that fixes it for me.

An aside comment/observation. The switch to sed to get rid of ruby is fine but it's one more thing to consider for cross platform compatibility someday. I realize proxygen does not support windows at the moment but it's not outside the realm of possibility it might one day, especially once folly runs on Windows

[2015-04-07 21:48] planetbeing commented on #38
I experienced similar issue building for Mac. Makefile.am proxygen/lib/http/Makefile.am needs to refer to "./gen_HTTPCommonHeaders.h.sh" and "./gen_HTTPCommonHeaders.cpp.sh" instead of "gen_HTTPCommonHeaders.h.sh" and "gen_HTTPCommonHeaders.cpp.sh".

The shell in those scripts used should be /bin/bash and not /bin/sh, or newline escaping has issues on Mac as well.

Finally, on Mac, the BSD sed doe

[2015-04-08 00:32] aajtodd commented on #38
Right, still leaves the path issue "./gen_HTTPCommonHeaders.X.sh".

FYI the sed script looks like it also dumped out the same enum value for every header name, I didn't look any further into that.

I must be bored...took a stab substituting the sed scripts for python over at https://github.com/aajtodd/proxygen/commit/af88827a572c1dcded5d3fa19052d2889bcb30bc

Script is little rough still since I wa

[2015-04-09 13:08] andor72 opened #39 "Testsuite for proxygen 19.0 fails"
Fresh checkout of proxygen 19.0 fails during testsuite

make[8]: Entering directory '/proxygen/proxygen/lib/http/codec/test'
*** Error in `/proxygen/proxygen/lib/http/codec/test/.libs/lt-CodecTests': free(): invalid size: 0x0000000001a46f50 ***
../../../../build-aux/test-driver: line 107: 15806 Aborted                 (core dumped) "$@" > $log_file 2>&1
FAIL: CodecTests
make[9]: Entering directory

[2015-04-10 03:41] viswanathgs commented on #38
Thanks for reporting this, I wish we had caught this before we pushed it. This is fixed now.

[2015-04-10 03:41] #38 closed

[2015-04-10 03:42] viswanathgs commented on #39
I just pushed some build fixes that appears to fix the test as well. Could you rebase and confirm if the tests pass? Either way, the reinstall.sh problem is fixed for sure now.

[2015-04-10 03:42] viswanathgs commented on #39
Oh, and thanks for reporting this!

[2015-04-15 03:01] shoebmogal opened #41 "Builds are failing on ubuntu"
Here is the trace:

vagrant@vagrant-ubuntu-trusty-64:~/proxygen/proxygen/proxygen$ ./deps.sh
Reading package lists...
Building dependency tree...
Reading state information...
libssl-dev is already the newest version.
wget is already the newest version.
The following extra packages will be installed:
  autoconf automake autotools-dev libbison-dev libevent-core-2.0-5
  libevent-extra-2.0-5 libevent-

[2015-04-15 21:42] rpraveen commented on #41
Looking into this. Thanks for reporting.

[2015-04-21 00:46] rpraveen commented on #41
@shoebmogal The builds were failing because the folly dependencies are missing in your Ubuntu box. Please check the Dependencies section in https://github.com/facebook/folly. I am working on adding them to the deps.sh script in Proxygen so that we can automatically pull them for you.

[2015-04-21 00:46] #41 closed

[2015-04-28 22:25] pinkisemils opened #44 "The example 'echo' code does not compile."
The provided example code in /proxygen/httpserver/samples/echo.
This is on a current Archlinux installation with all the dependencies satisfied.
The makefile build fails the same as with ' g++ -std=c++11 -o my_echo EchoServer.cpp EchoHandler.cpp -lproxygenhttpserver -lfolly -lglog -lgflags -pthread'
The compiler errors given are as follows:

EchoServer.cpp:29:13: error: expected constructor, destr

[2015-04-28 22:40] bugok commented on #44
Thank you for reporting this. Can you please include the full output?
Thanks.

[2015-04-29 15:58] bugok commented on #44
Closing this - as per discussion on the irc channel - seems like this is a bad header file inclusion.
Please open again if this hasn't been resolved.

[2015-04-29 15:58] #44 closed

[2015-04-30 23:03] jwatzman opened #45 "[Mac] gen_HTTPCommonHeaders.*.sh require GNU sed"
The `gen_HTTPCommonHeaders.h.sh` and `gen_HTTPCommonHeaders.cpp.sh` shell scripts both require GNU sed, and don't work with the default BSD sed on Mac OS X. Context is that I'm poking at HHVM building on OS X again, and this is a blocker.

The problems I've seen so far:
- BSD sed doesn't support `\U` or `\0`. https://github.com/facebook/proxygen/blob/4126e0905239e5d39aee39560e2177a2fc3f6550/proxyg

[2015-05-01 00:25] bugok commented on #45
Thanks for reporting this @jwatzman.
I think it's possible to rewrite these scripts in python, since we already use python to generate some code: https://github.com/facebook/proxygen/blob/v0.21.0/proxygen/lib/utils/Makefile.am#L6
If you're up for translating bash to python - go ahead. :)
Feel free to update this issue in the future. Please ping me if you have any issue.

[2015-05-04 22:38] bugok commented on #45
An internal diff has been submitted for this. It should be out with this week's release.

[2015-05-04 22:38] #45 closed

[2015-05-08 16:28] afrind commented on #39
Pretty sure this is fixed so closing for now.  Please reopen if it's still broken for you.

[2015-05-08 16:28] #39 closed

[2015-05-12 21:59] Israr opened #47 "Host header"
In HTTP GET request, if Host header contains port number (_hostname:port_), the server doesnt responds with data. For example HTTP request containing following host header will fail

[code]

Requests with following host header will succeed

[code]

Most http clients(I tested curl, chrome, and IE) will strip port number if it is default port for the protocol (80 for http ,or 443 for https). However

[2015-05-29 17:50] yfinkelstein commented on #3
I was able to build the latest versions of folly and proxygen on Mac OS 10.10 using downloaded llvm
[code]

and
having the following options:
[code]

Boost was installed using
[code]

I have tried various other combinations of compilers and c++ libraries but only this configuration have worked and produced valid binaries.

I also struggled with building libproxygenssl using native darwin toolset (

[2015-06-04 19:09] bugok commented on #3
@jwatzman - do you might have an idea?

[2015-06-04 19:23] bugok commented on #47
@Israr - thanks for reporting.
I'm not sure I understand your request. What is the issue with proxygen?

[2015-06-04 19:25] jwatzman commented on #3
I don't, sorry. I have been poking at HHVM's dependencies (of which proxygen and folly are two) as well as HHVM itself to try to get it to build on OS X, but haven't quite succeeded yet. So there are likely issues actually running the code I have yet to get to :) Nothing in the traces above jumps out at me as an obvious likely culprit, sorry.

[2015-06-04 20:03] Israr commented on #47
Let me explain with example. [This] (https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s150x150/e15/11049316_1583549288528575_1352209504_n.jpg) is running proxygen and I can download the resource by executing following command
[code]
In this case host header did not specify port (which is default behavior for curl and most browsers). However If host header explicitly specify port , it fai

[2015-06-04 20:41] bugok commented on #47
@Israr - what do you mean by "running proxygen"? What process are you running? The echo server?

[2015-06-04 21:22] lbrandy commented on #3
My guess is that's just a bug. That particular code is doing some pretty platform-specific nonsense (e.g. comments about glibc internals) so I wouldn't be surprised if its just not portable. We can probably rip out the necessary bits to get a reasonable repro.

There might be a strong hint if you could pull `sp` and `tls_stackLimit` from that crash inside the debugger (it'll be in the unmapUnusedS

[2015-06-04 21:39] afrind commented on #47
This appears to be a config problem with instagram CDN, and our CDN team is investigating it.  Although eliding the port number in the Host header on the client side would fix this, the correct fix is in our infra.

[2015-06-04 21:46] Israr commented on #47
I haven't looked into proxygen code specifically for this problem. Since instagramcdn is running proxygen, and proxygen is facebook product, i thought this is the best place to report it.

[2015-06-05 04:43] bugok commented on #3
@yfinkelstein: Thanks again for this. I just pushed a new version (43) to folly that has a fix for this.
Can you please try again? (Also, make sure that proxygen will refer version 43 of folly when you build proxygen against it.

[2015-06-20 07:34] js7222 opened #48 "build error on ubuntu 15.04"
I haven't looked into why this happens at all yet but here is the output of the build

Reading package lists...
Building dependency tree...
Reading state information...
bison is already the newest version.
flex is already the newest version.
g++ is already the newest version.
gperf is already the newest version.
libcap-dev is already the newest version.
libevent-dev is already the newest version.

[2015-07-04 13:03] keithmendozasr opened #50 "Check failed: worker != workers_.end() when using SSLContextConfig"
I'm trying to setup TLS using proxygen tag 0.28.0. However, when I run the program, I get the following:

[code]
Here's the function that I'm using to build the IPConfig object:

[code]
where FLAGS_sslcrt is the certificate, FLAGS_sslkey is the private key in PEM format, and FLAGS_sslkeypass is the password to the private key.

Below is the code that I use to create the parameter passed to HTTPSer

[2015-07-05 18:51] viswanathgs commented on #50
@djwatson, looks like this is related to ServerBootstrap. Could you look into this?

[2015-07-08 00:50] bugok commented on #48
Hi @js7222, thanks for reporting this.
Sorry it took a while to get back to you.
I think this is a compatibility issue with folly and Ubuntu 15.04.
Can you please try and build folly, without proxygen?
See https://github.com/facebook/folly

If this fails - we'll open an issue with folly.
cc: @sgolemon

[2015-07-09 06:32] tstarling opened #51 "Body sent on HEAD request"
As noted at https://reviews.facebook.net/D38373 , Proxygen does not suppress the sending of the response body when the request is a HEAD request. In fact, even if the application sends no response data, if the HTTPMessage::chunked_ flag is set, HTTP1xCodec::generateEOM() will send an empty chunk "0\r\n", which is a protocol violation.

It's arguable whether a Transfer-Encoding header should be sen

[2015-07-09 23:15] bugok commented on #51
@tstarling: thanks for reporting this.
I'm looking into it.

[2015-07-12 22:12] trygvis commented on #9
+1

[2015-07-13 19:00] js7222 commented on #48
Same with folly

make  all-recursive
make[1]: Entering directory '/home/james/folly/folly'
Making all in .
make[2]: Entering directory '/home/james/folly/folly'
/bin/bash ./libtool  --tag=CXX   --mode=link g++  -std=gnu++0x -g -O2 -lboost_context -lboost_thread -lboost_filesystem -lboost_system -lboost_regex -lpthread  -o generate_fingerprint_tables build/GenerateFingerprintTables.o libfollybase.l

[2015-07-14 00:21] bugok commented on #48
Since this is an issue with folly and we are dependent in folly, could you please open an issue with the folly project?

[2015-07-14 00:21] #48 closed

[2015-07-14 09:12] js7222 commented on #48
I've managed to get folly working on a different machine with Ubuntu 15.04. I suspect this might be the version of boost that I'm using. I will check later

[2015-07-14 22:52] bugok commented on #51
I'm having trouble to reproduce this. I tested the following test case to proxygen/lib/http/codec/test/HTTP1xCodecTest.cpp and it works.

Could you please help with a simple repro?

https://gist.github.com/bugok/f631e8aa448b00889bf6

[2015-07-15 00:14] bugok commented on #51
I'll try to get a repro using a Transaction/Session.

[2015-07-15 00:38] tstarling commented on #51
If you want to follow the way I discovered this:

* Get my HHVM pull request branch, e.g. with git clone --branch output-buffer-fix-flush https://github.com/tstarling/hiphop-php.git
* Patch out the suppression of the chunked flag:

[code]

* Compile
* Make a PHP script that sends chunked output, e.g.

[code]

* Configure with proxygen server enabled
* Do a HEAD request for the test script, using a

[2015-07-15 08:41] js7222 opened #52 "folly undefined reference link error"
When I try to build proxygen on Ubuntu 15.04 I get the following link errors.

Making uninstall in .
make[1]: Entering directory '/home/james/proxygen/proxygen/folly/folly'
 /bin/bash ./libtool   --mode=uninstall rm -f '/usr/local/lib/libfolly.la'
libtool: uninstall: rm -f /usr/local/lib/libfolly.la /usr/local/lib/libfolly.so.42.0.0 /usr/local/lib/libfolly.so.42 /usr/local/lib/libfolly.so /usr/loc

[2015-07-15 17:22] afrind commented on #52
Will take a look

[2015-07-16 18:55] afrind commented on #50
@djwatson is off the grid for a while.  I will try to take a look.

[2015-07-17 18:20] afrind commented on #32
This was actually fixed in fbfd30c559b4160aea10332fd37b6746849aee87

[2015-07-17 18:20] #32 closed

[2015-07-21 06:35] dark264sh opened #53 "build error on ubuntu 14.04"
Here is the trace:

make[1]: Leaving directory `/data/src/test/proxygen/proxygen/folly/folly'
Cloning wangle
Cloning into 'wangle'...
remote: Counting objects: 703, done.
remote: Total 703 (delta 0), reused 0 (delta 0), pack-reused 703
Receiving objects: 100% (703/703), 258.86 KiB | 267.00 KiB/s, done.
Resolving deltas: 100% (399/399), done.
Checking connectivity... done.
Note: checking out '0fb27

[2015-07-21 15:59] rpraveen commented on #53
Thanks for reporting! I'm looking into it.

[2015-07-21 21:12] js7222 commented on #52
I tried building folly 50 and I see that it has a dependency on libboost_context which the 42 version that comes with proxygen doesn't have.

james@james-HP-Pavilion-15-Notebook-PC:~/proxygen/proxygen$ readelf -d  /usr/local/lib/libfolly.so.42 | grep boost |grep .so
 0x0000000000000001 (NEEDED)             Shared library: [libboost_filesystem.so.1.55.0]
 0x0000000000000001 (NEEDED)             Sha

[2015-07-23 04:28] bugok commented on #51
@tstarling: I think I might have something, but I'm not completely sure if this is the right fix. I'm having trouble with creating a decent test case for this. However, it doesn't break any of the other proxygen unit tests.
Could you please patch with this and let us know if it helps?
https://gist.github.com/bugok/5e0dbca599509d5436c7

Thanks.

[2015-07-24 23:31] rpraveen commented on #53
This is fixed internally. I'll close the issue once the changes are pushed to github.

Meanwhile, this can be resolved by doing a 'make install' inside the folly repo.

[2015-07-24 23:32] rpraveen commented on #52
This is fixed with the latest release of proxygen, but you might face https://github.com/facebook/proxygen/issues/53. There is a work around for it mentioned in the task. I'll push the latest changes to github soon.

[2015-07-28 04:36] tstarling commented on #51
That still sends an extra CRLF in the HEAD response. You could do something like https://gist.github.com/tstarling/f28f1da1eedd8a31b3bf . That fixes my test case, at least.

[2015-07-30 18:50] bugok commented on #51
Thanks for doing this @tstarling!
Due to legal issues - could you please send this as a pull request? I'd need you to sign the CLA in order to use that. I'll check the validity of the fix and add a test case.

[2015-07-30 23:06] tstarling commented on #51
The reason this is a bug report rather than a pull request is because proxygen is not fully open source, so I don't want to write code for it. I would have preferred to not even write the bug report, except that afrind is blocking about a month's worth of work against HHVM on the basis that a one-line workaround for this bug is not acceptable. All I did in that patch is move the if block out by a

[2015-07-31 00:44] afrind commented on #51
@tstarling : the HHVM PR is closed as far as I can tell.  Always feel free to ping directly in a diff if I am holding something up.  As for the part of proxygen that is not open source, I don't think you should treat this differently than any other application that is built by a third-party on top of libproxygen.  As long as the library change is correct, has test coverage, and passes other OSS un

[2015-07-31 01:01] tstarling commented on #51
The HHVM PR was closed unmerged, Fred closed it with the comment "Getting this out of the HHVM queue for now, pending fixes in proxygen."

[2015-07-31 17:15] afrind commented on #51
@tstarling : oops, was just looking at the diff which didn't have the detail.  Will get you unblocked ASAP.

[2015-08-14 22:27] Orvid opened #58 "The use of __attribute__((__constructor__))"
Is there a specific reason that `__attribute__((__constructor__))` is used rather than a dynamic initializer like:
[code]
I ask because, although I can provide the same thing with MSVC, it's not exactly pretty, and it would be much cleaner to switch to initializers.

[2015-08-17 17:32] bugok commented on #58
Thanks for reporting @Orvid.
Are you referring to a specific location? I see this happening in several places in the code.
For example: https://github.com/facebook/proxygen/blob/master/proxygen/lib/http/HTTPMethod.cpp#L27

In this example - I believe that it's to make sure that this structure is available when `main()` is called.

[2015-08-17 20:17] Orvid commented on #58
It's just a general question, regarding all uses of the attribute.

[2015-08-17 23:43] #53 closed

[2015-08-18 21:35] afrind commented on #51
Fix has been pushed

[2015-08-18 21:35] #51 closed

[2015-08-28 21:32] atdt opened #59 "HAR export support"
There exists a very handy tool for performance analysis called BrowserMob Proxy. It allows you to capture HAR files for any browser by acting as a simple MITM proxy. It does not support SPDY, HTTP 2, or TLS, though. Proxygen could be an ideal replacement, if it had the ability of recording requests and outputting them as HAR. I see that there already exists code for reading / replaying HAR files i

[2015-09-04 18:27] Israr commented on #47
This issue is still not fixed. Is it a proxygen issue or instagram CDN?

[2015-09-17 06:23] mnikhil-git opened #60 "patches for centos"
Hi,

Has someone already tried to build proxygen for centos/rhel style systems?

[2015-09-17 09:15] emyr666 opened #61 "deps.sh needs to pull in unzip"
Just tried to do a build on a fresh minimal install of ubuntu server. ./deps.sh failed on unzipping gmock.zip as zip was not installed. Need an apt-get install unzip in your deps.sh somewhere.

[2015-09-18 12:56] xiaomi-tc opened #62 "deps.sh meet compile error in Ubuntu 14.10"
##  at  folly/folly/io/async/EventBase.cpp
_Error message:_

depbase=`echo io/async/EventBase.lo | sed 's|[^/]*$|.deps/&|;s|\.lo$||'`;\
/bin/bash ./libtool  --tag=CXX   --mode=compile g++ -DHAVE_CONFIG_H   -I./.. -pthread -I/usr/include   -std=gnu++0x -g -O2 -MT io/async/EventBase.lo -MD -MP -MF $depbase.Tpo -c -o io/async/EventBase.lo io/async/EventBase.cpp &&\
mv -f $depbase.Tpo $depbase.Plo
lib

[2015-09-19 20:01] steelbrain opened #63 "HTTP2 Support"
Tracking bug for HTTP2. Post on here when there's a progress.

[2015-09-19 23:31] bugok commented on #63
@steelbrain - what bug are you referring to?

[2015-09-19 23:35] bugok commented on #62
@xiaomi-tc: I think this might be related to unsynced code. Can you please try again? I pushed our latest branch yesterday.

[2015-09-19 23:36] bugok commented on #61
@emyr666: What version of Ubuntu were you running?

[2015-09-19 23:37] bugok commented on #60
Not that I'm aware of. Feel free to submit pull requests.

[2015-09-19 23:37] #60 closed

[2015-09-19 23:38] steelbrain commented on #63
@bugok It's just that we haven't seen **any** thing or signal or progress on HTTP2 support in proxygen, just a note in a article in fb engineering which says it's `In Progress`™. so I thought I'd help you guys by creating a bug where you can post the progress :smiley:

[2015-09-20 05:15] bugok commented on #63
@steelbrain what about this:
https://github.com/facebook/proxygen/tree/master/proxygen/lib/http/codec/experimental ?

[2015-09-20 10:31] steelbrain commented on #63
Now that's some progress :clap:

[2015-09-20 15:02] bugok commented on #63
Please track this folder. We're currently in testing mode for http2. When the code moved out of here - that means we've pushed it completely to production.

[2015-09-20 15:02] #63 closed

[2015-09-21 16:30] afrind commented on #63
Please feel free to give http/2 a try and let us know if you find any issues.  I think HTTP2Codec is pretty mature and we'll be moving it out of /experimental/ soon.

[2015-09-21 16:32] steelbrain commented on #63
I don't use proxygen directly, I use proxygen + hhvm so no idea how to build/use experimental features with it :stuck_out_tongue:

[2015-09-21 16:46] afrind commented on #63
The code is compiled in by default.  You can configure HHVM to advertise HTTP/2 by adding this block to the Server section in a .hdf file:

  SSLNextProtocols {
     * = h2-14
     * = spdy/3.1
     * = http/1.1
  }

I know HHVM uses .ini format externally but I don't know the exact syntax.  This is just an array of strings under Server.SSLNextProtocols

[2015-09-21 16:47] steelbrain commented on #63
Thanks :clap:

[2015-09-21 22:30] afrind commented on #50
@djwatson claims this was recently fixed.  I'll close out after our next push.

[2015-09-21 22:34] afrind commented on #58
I think we're trying to move away from static initializers with non-trivial destructors because destruction order is difficult to reason about.

[2015-09-21 22:35] afrind commented on #52
sounds like this was fixed by @rpraveen

[2015-09-21 22:35] #52 closed

[2015-09-21 22:38] afrind commented on #59
Given that this needs to be a proxy to be really useful, we'd have to do this after making more of our proxy implementations open source.   It could be more simply implemented as an HTTP server filter, but it's not on our immediate priority list.  Want to send a PR?

[2015-09-22 06:37] xiaomi-tc commented on #62
I had a retry , but the same error

libtool: compile:  g++ -DHAVE_CONFIG_H -I./.. -pthread -I/usr/include -std=gnu++0x -g -O2 -MT io/async/AsyncSSLSocket.lo -MD -MP -MF io/async/.deps/AsyncSSLSocket.Tpo -c io/async/AsyncSSLSocket.cpp -o io/async/AsyncSSLSocket.o >/dev/null 2>&1
[code]
io/async/EventBase.cpp: In constructor 'folly::EventBase::EventBase(bool)':
io/async/EventBase.cpp:170:10: error:

[2015-09-22 15:25] QiMata commented on #62
I am getting the same thing with Ubuntu 14.04. Even with the update.

[2015-09-22 17:13] afrind commented on #62
What version of libevent do you have on your system?

From: Jared Rhodes <notifications@github.com<mailto:notifications@github.com>>
Reply-To: facebook/proxygen <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 22, 2015 at 8:26 AM
To: facebook/proxygen <proxygen@noreply.github.com<mailto:proxygen@noreply.github.com>>
Subject: Re: [proxygen] deps.sh meet compile error

[2015-09-22 17:26] QiMata commented on #62
thinking this is what you want
||/ Name           Version      Architecture Description
+++-==============-============-============-=================================
ii  libevent-2.0-5 2.0.21-stabl amd64        Asynchronous event notification l
ii  libevent-core- 2.0.21-stabl amd64        Asynchronous event notification l
ii  libevent-dev   2.0.21-stabl amd64        Asynchronous event notificatio

[2015-09-24 00:21] afrind commented on #62
@QiMata : your error is actually different (nothing about event_base_loopbreak).  Looks like the folly rev is behind where it should be.  Try setting it to v0.55.0.  I will update it when I push this week, not sure how it didn't get updated with any previous push in the last month.

[2015-09-24 01:54] QiMata commented on #62
@afrind It works but you also have to update the wangle version to 0.13.0 as well

[2015-09-24 23:24] afrind commented on #62
@QiMata : I just pushed, so HEAD should be good now.  I also updated our push procedure so it shouldn't get missed again.  Feel free to reopen if it's not working.

[2015-09-24 23:24] #62 closed

[2015-09-25 21:57] QiMata commented on #62
Fresh install with the same commands, new error

libtool: compile:  g++ -DHAVE_CONFIG_H -I./.. -pthread -I/usr/include -std=gnu++0x -g -O2 -MT Random.lo -MD -MP -MF .deps/Random.Tpo -c Random.cpp -o Random.o >/dev/null 2>&1
libtool: compile:  g++ -DHAVE_CONFIG_H -I./.. -pthread -I/usr/include -std=gnu++0x -g -O2 -MT MemoryMapping.lo -MD -MP -MF .deps/MemoryMapping.Tpo -c MemoryMapping.cpp -o Memor

[2015-09-28 17:18] afrind commented on #50
Please try again with the latest.

[2015-09-28 17:18] #50 closed

[2015-09-30 16:47] keithmendozasr commented on #50
I'll give it a try in the next few weeks, and I'll provide an update whether it's fixed or not.

[2015-10-28 16:37] smellyfis opened #65 "SSL errors"
proxygen: fe1070ff19b447430c346100d45330adecb7e8c0
wangle: e15b84fd02ba8135927d54e8e586e6d8cc275f96
folly: 47f0d3846c949a085da9dc3e33062b4537172edb

When I modified the sample echo server to except ssl  i get the following:

here is what I did to the echo server:
[code]
and this is what i used to create the certificate key and password

is this a bug or am I doing it wrong?

[2015-10-28 21:07] afrind commented on #65
Check the HTTPServerTests.cpp file, it also sets sslCtx.isDefault = true which I suspect will solve this issue.  Please reopen if it's not working.

[2015-10-28 21:07] #65 closed

[2015-10-29 01:55] smellyfis commented on #65
Thank you very much!

[2015-12-11 15:39] bugok commented on #61
@emyr666: Is this is a problem? What version are you running?

[2015-12-13 06:31] leizha commented on #61
this happened to me as well. i was running Ubuntu 14.04.3 LTS from standard docker image.

[2015-12-14 22:54] bugok commented on #61
@leizha: Would you like to send a pull request?

[2015-12-15 16:10] wqx081 opened #71 "Run curl/echo sample ERROR"
ubuntu 14.04 / gcc-4.9
when run httpclient/samples/curl Or httpserver/samples/echo,  OUTPUT:

curl: ./../folly/io/async/NotificationQueue.h:749: void folly::NotificationQueue<MessageT>::Consumer::init(folly::EventBase*, folly::NotificationQueue<MessageT>*) [with MessageT = std::pair<void (*)(void*), void*>]: Assertion `!isHandlerRegistered()' failed.
*** Aborted at 1450194832 (unix time) try "date

[2015-12-16 20:04] mjs6643 opened #72 "Installation is not copying HTTP2PriorityQueue.h to /usr/local/include"
If you build the EchoServer example outside of Proxygen the following error happens:

[code]

Manually copying the header fixes the issue

[2015-12-17 17:10] David-Haim opened #73 "Cannot build the echo server on Ubuntu 14.04.3"
david@david-VirtualBox:~/Documents/Proxigen/proxygen-master/proxygen/httpserver/samples/echo$ g++ -std=c++11 -o my_echo EchoServer.cpp EchoHandler.cpp -lproxygenhttpserver -lfolly -lglog -lgflags -pthread
EchoServer.cpp:14:44: fatal error: proxygen/httpserver/HTTPServer.h: No such file or directory
 #include <proxygen/httpserver/HTTPServer.h>
                                            ^
compilati

[2015-12-17 17:45] mjs6643 commented on #73
When did you try building Proxygen? There's been a bug in Wangle the past few days that's breaking the Proxygen build. I opened up a ticket and they should have a fix shortly.

[2015-12-17 18:07] David-Haim commented on #73
hmm... probably it is the issue. I will update as soon as the fix is on.

[2015-12-17 18:38] mjs6643 commented on #73
You can track that here: https://github.com/facebook/wangle/issues/18

[2015-12-17 23:01] #72 closed

[2015-12-18 01:10] xiaosophiawang commented on #73
Hi David, thanks for opening the issue! We have fixed wangle today and I'm able to build on Ubuntu 14.04 and 15.04. Let us know if it still doesn't work for you. Thanks!

[2015-12-18 01:12] xiaosophiawang commented on #71
Hi @wqx081 , can you post detailed steps to repro? I'm not able to repro this error here.

[2015-12-24 14:58] #71 closed

[2015-12-25 18:34] #73 closed

[2015-12-26 18:12] js7222 opened #74 "SPDYCodecTest.HeaderWithManyValues test fails on Ubuntu > 14"
...
[ RUN      ] SPDYCodecTest.HeaderWithManyValues
SPDYCodecTest.cpp:538: Failure
Value of: 1
Expected: callbacks.headersComplete
Which is: 0
SPDYCodecTest.cpp:540: Failure
Value of: 0
Expected: callbacks.streamErrors
Which is: 1
F1226 18:08:32.613636 22638 SPDYCodecTest.cpp:542] Check failed: 'callbacks.msg.get()' Must be non NULL
**\* Check failure stack trace: ***
    @     0x7fd80b3f45cd  goo

[2015-12-28 21:46] w-o-o commented on #74
@js7222 , I cannot reproduce your problem in my dev server.  I am happy to investigate this further if you can provide more details about how to reproduce this.

proxygen/lib/http/codec/test/CodecTests --gtest_filter=SPDYCodecTest.HeaderWithManyValues -v 4
Note: Google Test filter = SPDYCodecTest.HeaderWithManyValues
[==========] Running 1 test from 1 test case.
[----------] Global test environmen

[2015-12-31 21:02] js7222 commented on #74
I literally just ran ./deps.sh && ./reinstall.sh as per the instructions. I am using Ubuntu 15.10. Is there anything specific you would like me to provide?

[2016-01-03 16:53] kwlo commented on #74
I got the same error messages as js7222 as well. Didn't modify anything. Just git cloned and ./deps.sh.
Ubuntu 15.10

[2016-01-04 18:58] kwlo commented on #74
It seems this issue is caused by Ubuntu 15.10. I am able to build successfully with 14.04

[2016-01-05 21:44] w-o-o commented on #74
@kwlo thanks for feedback.  Current our internal testing environment is 14.04.  Let's try to get a 15.10 to reproduce it.

meanwhile, welcome to send us a pull request if you figure out the fix.

[2016-01-06 05:35] #61 closed

[2016-01-06 07:55] byronhe commented on #74
reproduced by Ubuntu 15.10, X86_64.

did some debug , looks like

this test case failed:

        TEST(SPDYCodecTest, HeaderWithManyValues)

https://github.com/facebook/proxygen/blob/master/proxygen/lib/http/codec/test/SPDYCodecTest.cpp#L517

the reason is call SPDYUtil::validateHeaderValue() failed,
name is "host"
value is   '\001' <repeats 11 times>

        valueOk = SPDYUtil::validateHeaderVal

[2016-01-07 10:29] shivamsingh262 opened #75 "Cannot build echo server (ubuntu 14.04)"
This is same as #73
shivam@shivam-PC:~/proxygen/proxygen/httpserver/samples/echo$ g++ -std=c++11 -o my_echo EchoServer.cpp EchoHandler.cpp -lproxygenhttpserver -lfolly -lglog -lgflags -pthread
EchoServer.cpp:14:44: fatal error: proxygen/httpserver/HTTPServer.h: No such file or directory
 #include <proxygen/httpserver/HTTPServer.h>
                                            ^
compilation terminate

[2016-01-07 16:59] akashtalole opened #76 "Build error"
c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-4.8/README.Bugs> for instructions.
make[2]: *** [CMakeFiles/BootstrapTest.dir/bootstrap/BootstrapTest.cpp.o] Error 4
make[1]: *** [CMakeFiles/BootstrapTest.dir/all] Error 2
make[1]: *** Waiting for unfinished jobs....
Linking CXX executable

[2016-01-07 22:15] viswanathgs commented on #76
I'm not able to repro this. What's your platform? Could you paste more info from the build logs?

[2016-01-07 22:19] viswanathgs commented on #75
Looks like https://github.com/facebook/proxygen/issues/73 has been fixed. Can you follow the steps there to get a clean build with the latest wangle and folly deps?

[2016-01-07 22:22] russoue commented on #75
I tried to reproduce it on Ubuntu 14.04 but the build went fine. I also checked that both the files exist there. Can you please try @viswanathgs's suggestion above and get back to us?

[2016-01-08 06:08] akashtalole commented on #76
I build this on Ubuntu 14.04

[2016-01-08 10:55] shivamsingh262 commented on #75
Had a error with cmake while building wangle deps
"....local/lib/libcurl.so.4: no version information available (required by cmake)"

so tried
$ export LD_PRELOAD=/usr/lib/x86_64-linux-gnu/mesa/libGL.so.1

ran ./deps.sh and ./reinstall.sh again.
This time, I am able to build echo server without any issues.

[2016-01-08 10:55] #75 closed

[2016-01-08 11:09] akashtalole commented on #76
Build Successfully

[2016-01-08 11:09] #76 closed

[2016-01-10 18:42] jamperry opened #77 "Add HTTP routing"
I have written a HTTP router by extending `RequestHandlerFactory` to multiplex paths to `RequestHandler` implementations. The routing uses a compacted prefix tree.

Is this something you are interested in having in your repo or should I create a separate repo for it? If you are interested then I will merge it with tests into a public fork and then submit a PR.

[2016-01-11 19:10] russoue commented on #77
Hi @jamperry, thanks for your interest to contribute, we definitely welcome your contribution. Would you be able to submit a PR with some documentation (may be in the form of comments in the code)?

[2016-01-13 01:39] jamperry commented on #77
No problem, I will add comments to make it more clearer. I will submit a PR over the weekend.

[2016-01-13 22:21] cronnosli commented on #77
I have to that by doing this!

restRoutes.routeAdd("/indexation/test", "testIndexation",{"POST"});
restRoutes.routeAdd("/status", "getStatus",{"GET","POST"});

void Routes::routeAdd(std::string path, std::string action, acceptedMethods
methods) {
    boost::mutex::scoped_lock scope_lock(Route);
    this->methods[path] = methods;
    this->actions[path] = action;
}

bool Routes::routeExist(std::str

[2016-01-15 13:48] marcoscleison opened #78 "boost_thread not found"
Hi, I am trying to compile proxygen on ubuntu64 with boost installed. I am having a problem with boost_thread. This library is there in /usr/lib however the building system cmake does not find it.
I set BOOST_ROOT but the same error occured.
Can you help me?

Thanks

Here is the output:

[code]

[2016-01-20 07:54] jinlee commented on #3
Hello all.

I've spent a few hours now trying to get a valid OS X build working. However I was unable to get a valid build for neither folly nor wangle. Both fail to build from the latest master.

I tried to fix the build on folly for an hour or so before giving up. I won't list the issues I ran into here since that seems irrelevant for proxygen.

But I get the feeling that supporting OS X just is

[2016-01-27 17:26] nitingupta910 opened #79 "Testsuite for folly (master HEAD) fails"
[code]

[2016-01-28 06:14] shivamsingh262 opened #80 "Error building CurlClient"
I am trying to create a HTTPClient, but get a error building CurlClient provided in samples.

shivam@shivam-PC:~/proxygen/proxygen/httpclient/samples/curl$ g++ -std=c++11 -o my_echo CurlClient.cpp CurlClientMain.cpp -lproxygenhttpserver -lfolly -lglog -lgflags -pthread
/tmp/cc4U1LxS.o: In function `CurlService::CurlClient::connectSuccess(proxygen::HTTPUpstreamSession*)':
CurlClient.cpp:(.text+0x6c

[2016-01-28 23:56] w-o-o commented on #80
this is a link error.  did you try the make file under proxygen/proxygen/httpclient/samples/curl

[2016-01-29 01:27] w-o-o commented on #79
i cannot reproduce your problem, could you paste your os, compiler and libs info?

[code]

[2016-01-29 03:59] nitingupta910 commented on #79
os: ubuntu 16.04 alpha
compiler: gcc 5.3.1
libs: folly and wangle master branch: as fetched by ./deps.sh script in proxygen

[2016-01-29 04:06] cronnosli commented on #79
Months ago I had problems to compile proxygen by ./deps.sh
there was something very strange with what the code expected to be the google log libraries and what debian like systems installed.

I resolved it by clone and compile each one at time. So I was able to package the wangle, folly and proxygen libs and install when I needed.

I guess I have some scripts I developed to this. I'll search for t

[2016-01-29 05:16] shivamsingh262 commented on #80
I tried make file

shivam@shivam-PC:~/Documents/proxygen/proxygen/httpclient/samples/curl$ make
Making all in .
make[1]: Entering directory `/home/shivam/Documents/proxygen/proxygen/httpclient/samples/curl'
make[1]: Nothing to be done for `all-am'.
make[1]: Leaving directory `/home/shivam/Documents/proxygen/proxygen/httpclient/samples/curl'

I even did 'make clean' followed by 'make'

shivam@shiva

[2016-02-02 21:50] mjs6643 opened #81 "Failure in session test suite (DanglingQueueTest.max)"
[code]

I am running:

- Ubuntu 14.04
- Boost 1.60
- Current Folly, Wangle, and Proxygen HEADs as of 2016/02/02 4:46 PM EST
- GCC 5.3.0

[2016-02-02 21:57] afrind commented on #81
Thanks for reporting.  I just saw this internally as well. It's a timing issue and I'm working on a fix right now.

[2016-02-03 17:57] afrind commented on #81
Should be fixed now.

[2016-02-03 17:57] #81 closed

[2016-02-04 00:03] nitingupta910 commented on #74
I get exactly the same failure on Ubuntu 16.04 (alpha).

[2016-02-04 00:08] afrind commented on #74
I've created a task internally to add support to these newer ubuntu revs, but it might take a while to get to them.  Would gladly accept a PR :)

[2016-02-04 17:13] nitingupta910 commented on #79
Closing - duplicate of #74

[2016-02-04 17:13] #79 closed

[2016-02-05 16:55] octohydra commented on #9
:+1:

[2016-02-09 07:25] shivamsingh262 commented on #80
I was able to resolve this by copying 'HTTPConnector.o' from  /lib/http/ directory and 'HTTPUpstreamSession.o' from /lib/http/session/ directory into the /httpclient/samples/curl directory.

Now when I run,

shivam@shivam-PC:~/proxygen/proxygen/httpclient/samples/curl$ g++ -std=c++11 -o my_echo CurlClient.cpp CurlClientMain.cpp HTTPUpstreamSession.o HTTPConnector.o -lproxygenhttpserver -lfolly -lg

[2016-02-09 07:25] #80 closed

[2016-02-12 17:55] russoue commented on #58
@Orvid, can we close this issue?

[2016-02-12 18:05] russoue commented on #58
@Orvid, it seems that we have another issue opened for this: https://github.com/facebook/proxygen/pull/66, can you please close this one?

[2016-02-12 20:41] Orvid commented on #58
Yep.

[2016-02-12 20:41] #58 closed

[2016-03-08 14:53] QiMata opened #83 "Getting errors with compression set to true"
The offending class is in ZLibServerFilter.h and the offending line is in the sendHeaders method:
[code]
This is the code for my onEOM method:
[code]

the stack trace:
F0308 09:19:55.967344 12264 ZlibServerFilter.h:39] Check failed: header_ == false
*** Check failure stack trace: ***
    @     0x7f097fd47daa  (unknown)
    @     0x7f097fd47ce4  (unknown)
    @     0x7f097fd476e6  (unknown)
    @

[2016-03-08 14:55] crackcomm commented on #83
I think it's because You send response twice, try with else:

[code]

[2016-03-08 15:09] QiMata commented on #83
You are right, and I feel dumb. Thank you!

[2016-03-08 15:09] #83 closed

[2016-03-08 20:13] cieplik opened #84 "Building proxygenlib as shared library"
Is there any specific reason why `libproxygenlib_la_LDFLAGS` is hardcoded to `-static` (in `proxygen/proxygen/lib/Makefile.am`)?

[2016-03-10 01:39] aajtodd commented on #77
Curious what the status of this is. Any updates?

[2016-03-11 15:38] Dalzhim commented on #3
I'm also very interested into any plans for supporting OS X.

[2016-03-12 02:12] rstims commented on #73
root@dvb:~/proxygen/proxygen/httpserver/samples/echo# g++ -std=c++11 -o my_echo EchoServer.cpp EchoHandler.cpp -lproxygenhttpserver -lfolly -lglog -lgflags -pthread
EchoServer.cpp:14:44: fatal error: proxygen/httpserver/HTTPServer.h: No such file or directory
 #include <proxygen/httpserver/HTTPServer.h>
                                            ^
compilation terminated.
In file included from Ech

[2016-03-17 01:14] bharatkrishna opened #85 "Build failing with error: 'folly::AsyncTransport::ReplaySafetyCallback' has not been declared"
I pulled the latest sources from github. I am building this on Ubuntu with the following version info:

I then ran ./deps.sh and I see the build failing with the following error:

[code]

[2016-03-19 15:10] ovr commented on #77
Any news?

[2016-03-20 10:47] UndergroundLabs opened #86 "Doesn't compile on 2GB machine"
The docs state that machine needs at least 2GB to compile proxygen. I tested on a 2GB machine to no avail. I get an error that memory was exhausted when building `folly`.

I attempted to compile on Ubuntu 14.04 with 2GB of memory, running `deps.sh`. Logs are below:

[code]

[2016-03-21 16:15] sanjin-saric opened #87 "Wangle tests fail. Proxygen cannot build"
The following tests in wangle fail:

[code]
I know this is wangle related issue, but in order to proxygen build to pass, wangle must build successfully.

So in proxygen/proxygen directory, run following command (before running deps.sh).

[code]
This will erase all tests after wangle is downloaded (when running deps.sh script).

Cheers

[2016-03-22 18:53] afrind commented on #86
This looks like an issue compiling folly.  Can you try building that independently (https://github.com/facebook/folly) and if you have the same problem open the issue with that project?

[2016-03-22 18:53] #86 closed

[2016-03-22 18:54] afrind commented on #85
proxygen, folly and wangle are all auto-pushed to github on slightly different schedules.  Probably an internal commit modified all three but the OSS repos were temporarily out of sync.  It should be building now.

[2016-03-22 18:54] #85 closed

[2016-03-22 20:43] afrind commented on #84
I think it was just simpler to do it with -static?  Feel free to put up a PR if you are able to get it working with shared.

[2016-03-22 20:43] #84 closed

[2016-03-22 20:44] afrind commented on #77
@jamperry are you still planning a PR?

[2016-03-22 22:05] jamperry commented on #77
really sorry for the lack of reply. yes i still plan a PR - realistically
next month. i was, and still am, crunching this month with the upcoming
release of our cloud service (uses proxygen). once crunching is over, i can
ship a PR.

On 22 March 2016 at 20:45, afrind <notifications@github.com> wrote:

[2016-03-22 23:22] afrind commented on #87
All wangle tests are passing for me with the current head.  Please rebase and check again?  If it's still a problem, reopen an issue with wangle and include OS and a stack trace/log if you can get one.  Thanks

[2016-03-22 23:22] #87 closed

[2016-03-24 15:30] senior7515 opened #88 "void HTTPSession::scheduleWrite() does not run in EventBaseThread"
Hello,

I'm getting an error w/ the HTTPSession.

#Problem Setup:

1. Start a simple http server w/ say an artificially high number of threads 30 or whatever.
2. Don't respond to http callbacks for a while.. i.e:

[code]

# Expected output:

None, I just didn't expect the EventBase to crash.

# Source of the problem

[code]

# eventBase->runInLoop(this)

does this:

[code]

So the issue would be s

[2016-03-24 17:14] afrind commented on #88
That sounds really bizarre - how did the HTTPSession get referenced outside the thread where the sock was created and has its event base?   Did your handler try to reply to the request in a different thread than the one calling onHeaders/onEOM?  If so, this is not supported.  You need to runInEventBaseThread to get back to the thread where the socket is before you can use ResponseBuilder, et al.

[2016-03-24 17:27] senior7515 commented on #88
@afrind  Sure, basically I was extending the HTTPClient to have a few callbacks, etc. and I've enqueued it in the eventBaseThread();.

1. The handler:

https://gist.github.com/d336223975e4862802aa

2. HTTPClient.hpp (was thinking of contributing something like this to the main repo)

https://gist.github.com/4feef684319dc3177814

3. HTTPClient.cc

https://gist.github.com/fd74e21886d0504cc3aa

[2016-03-24 17:38] senior7515 commented on #88
@afrind  Note this doesn't happen w/ a --threads=1 . It's when I increase the thread count.

The eventbase passed to the handler, is the one given to the HandlerFactory, i retain a non owning copy of it.

[2016-03-24 17:48] afrind commented on #88
Can I also get a paste of the stack trace when it crashes?

[2016-03-24 18:04] senior7515 commented on #88
[code]

[2016-03-24 18:11] senior7515 commented on #88
@afrind it's the same thread id: ` 12641 `

[2016-03-24 20:11] afrind commented on #88
Ah, the EVB passed to the handler factory is the thread that does TCP accept, but is *not* necessarily the thread that your handler is invoked in (this is only the case when threads=1.  For threads > 1, after accept the new connection is load balanced to an I/O thread).  You need to find your current eventBase in onRequest().  You can use EventBaseManager for this.

[2016-03-24 20:11] #88 closed

[2016-03-24 20:28] afrind commented on #88
It’s in the same thread that the client is working in, which is the one you saved in your RequestHandler, which came from the factory.  The server handler is running in a different thread.

From: Alexander Gallego <notifications@github.com<mailto:notifications@github.com>>
Reply-To: facebook/proxygen <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, March 24, 2016 at 10:11 AM

[2016-03-24 22:37] senior7515 commented on #88
@afrind ah, thanks! well can you help me understand the iothreadpool then.

I tried just doing
[code]

But then it errs on saying that the session->newTransaction(this) (httpclient)  - same as sample code is not in the eventbaseThread.

Here is the stack trace:

[code]

I guess what's the guiding principle then.

It looks as though the event base is what the HTTPServer uses, but the docs on async

[2016-03-24 23:20] afrind commented on #88
Same deal with the wheel timer.  It belongs to the accept thread.  If you want to send a PR, maybe add HTTPRequestHandlerFactory::onRequest(handler, msg, evb, wheeltimer), where the default impl just throws away evb and wheel timer and calls onRequest for backward compatibility.  Then you can override that.  What I don’t like is that leaves the old onRequest as a must implement in the factory but

[2016-03-25 15:35] senior7515 commented on #88
@afrind Got it. To distilled your thoughts, I have a local patch that implements this.

# RequestHandlerFactory
[code]

# HTTPServer.h

[code]

# Remaining problem:

Effectively you need to pass a pair of EventBase* . One is the ioThread that is handling this RequestHandler* and the other is where the handler IO load balanced EventBase* uses for it's responses.

i.e. : ` proxygen::ResponseBuilder(

[2016-03-25 16:37] senior7515 commented on #88
@afrind So in the mean time, I'll keep making the PR. but I worked around it by having a pair of eventbases

[code]

The main one is for the ` ResponseBuilder() -> eventmanager::get().. ` and the other is for making sockets on the client, etc.

Thanks.

[2016-03-25 16:57] senior7515 commented on #88
In retrospect, what do you think of having a context object passed around. It ha a few critical ptr's.

1. The mainEventBase_
2. The EventBaseManager::get()->getEventBase()
3. The HHWheelTimer* attached to the mainEventBase_

[2016-03-25 17:11] afrind commented on #88
I can't really think of a case where you need the accept thread's wheel timer.  You can always schedule the timeout in your thread, then runInEventBaseThread back to the accept thread if you really need to run something there, but you shouldn't need to.  Basically you should just ignore the main thread event base and timer as much as you can.  You *do* need the i/o thread's timer so you can schedu

[2016-03-25 20:12] senior7515 commented on #88
@afrind  awesome!! ok will put something together.

[2016-03-29 20:17] fredemmott commented on #3
https://github.com/hhvm/homebrew-hhvm/ could be a useful reference - HHVM uses Folly, Wangle, and Proxygen, and builds on OSX via homebrew with that.

[2016-03-30 09:13] jwatzman commented on #3
The specific bits of folly and proxygen that HHVM needs to build and work on OS X, but notably that is [*not* all of folly](https://github.com/hhvm/hhvm-third-party/blob/947e436d289256d1380853cbbd1ddc65179ad4ff/folly/CMakeLists.txt#L35-L113), and doesn't include any of the folly or proxygen binaries or tests. So it's possible to use as a library as-is, but not without some serious finagling.

[2016-04-20 06:57] floatdrop opened #89 "ZlibStreamCompressor is not supporting -1 compression level"
When building DEBUG version of proxygen echo example and opening page with browser I get an exception:

[code]

It comes from [this line](https://github.com/facebook/proxygen/blob/739166b5fedee51d6f4d4cf0c7e54280d083b84a/proxygen/lib/utils/ZlibStreamCompressor.cpp#L54), because default value in [HTTPServerOptions.h](https://github.com/facebook/proxygen/blob/739166b5fedee51d6f4d4cf0c7e54280d083b84a

[2016-04-20 19:09] lnicco commented on #89
Hi @floatdrop, you mentioned that this only happens when building with DEBUG ?
I'm looking into this issue and am trying to reproduce it; could you please paste the exact command you used to build ?

[2016-04-21 04:45] floatdrop commented on #89
@lnicco yes, [`DCHECK`](https://github.com/facebook/proxygen/blob/739166b5fedee51d6f4d4cf0c7e54280d083b84a/proxygen/lib/utils/ZlibStreamCompressor.cpp#L54) is only working, when [`NDEBUG`](https://github.com/google/glog/blob/4d391fe692ae6b9e0105f473945c415a3ce5a401/src/glog/logging.h.in#L979) is not defined, which is true for Debug build mode, but not for Release.

Exact command to build:

[code]

[2016-04-24 23:51] lnicco commented on #89
@floatdrop you are right that when setting `enableContentCompression` the compression level should also be set, and I am going to fix that.

There are however a couple of other things that are puzzling me as how you were able to trigger this.

With the latest code there are in fact two separate checks that are preventing compression to take place:

1_ the response content type should be one of the

[2016-04-25 00:06] lnicco commented on #89
on a second thought it makes sense to set  `enableContentCompression = false`
as the echo server should really send back exactly what it received, without compressing

[2016-04-25 04:58] floatdrop commented on #89
@lnicco yep, I modified example here and there and set `Content-type` to `application/json`, which probably was larger than 1000 bytes.

[2016-04-25 17:38] abhiguru commented on #9
CMake does not support convenience libs so all the libs get fragmented unless we consider one of the libs as a part of the main source... anywho if anyone is interested I have /libs working with cmake (install has to be manually)  https://github.com/abhiguru/proxygen/commit/cf7ad1e303db3d3660dbf457d22f9757b5b65d46

[2016-04-25 18:36] lnicco commented on #89
Thanks for the clarification @floatdrop,

Issue resolved here:
https://github.com/facebook/proxygen/commit/43146b064059e5779aa3be18e8214b291074dfa4

[2016-04-25 18:36] #89 closed

[2016-04-28 03:28] Dalzhim commented on #3
I have worked on compiling Proxygen on OS X and I've been successful after a few modifications along the way. I've blogged about it over [here](https://dalzhim.wordpress.com/2016/04/27/compiling-facebooks-proxygen-on-os-x/) and I'd like to know if you're having any success reproducing my results. I hope this may help to bring full OS X support to the Proxygen library eventually.

[2016-04-29 02:54] rcgoodfellow opened #91 "Bug in curl sample"
First of thank you for the wonderful library!

In the curl example, the code [here](https://github.com/facebook/proxygen/blob/master/proxygen/httpclient/samples/curl/CurlClient.cpp#L147) seems to miss the last IOBuf in the chain if there is more than 1. Shouldn't the correct logic be the following?

[code]

[2016-05-09 17:08] olfrenznewbetrayalz opened #92 "Sakse"

[2016-05-09 17:11] #92 closed

[2016-05-10 12:58] pengweichu opened #93 "Does proxygen support Windows ?"
Hello, does proxygen is support Windows ?

[2016-05-11 05:42] raaka1 opened #95 "Armhf ?(Embedded Platform)"
I am trying to compile on

[code]

i have received following error

[code]
My version has this 32:0

any suggestions or work arounds ?

[2016-05-11 21:53] afrind commented on #78
This issue is kind of old - are you still having this problem?

[2016-05-11 22:00] afrind commented on #95
First the version tags aren't being updated since we moved to continuous push.  As long as you are on the git HEAD you should be good. Looks like you need to update or install the boost library?

[2016-05-11 22:11] afrind commented on #93
It doesn't currently work on Windows, but it will eventually be supported for HHVM. We have people working on this internally now.  Even once support is added, using Proxygen on Windows will be experimental for quite a while, as the sockets portability layer we are working on is far from perfect right now.

[2016-05-12 10:43] raaka1 commented on #95
I have tried to install boost dev libraries no luck.

[2016-05-19 17:18] jhonatandarosa commented on #77
@jamperry any update about the PR?

[2016-05-22 21:17] mrmoje opened #96 "`sudo: command not found` When building Docker image"
looks like sudo is missing from the base ubuntu image causing docker build fails at `RUN ./deps.sh && ./reinstall.sh` https://github.com/facebook/proxygen/blob/7fa73304/Dockerfile#L25

[2016-05-23 00:03] russoue commented on #96
Thanks for the PR, will take a look at it soon.

[2016-06-20 22:28] kristianonline commented on #96
@russoue I tried to run it also in docker today. The solution is quite simple: Add 'sudo' to the list where flex, bison, ..., wget is listed.

[2016-06-22 05:33] wkoszek commented on #91
@rcgoodfellow Looks like this issue can be closed?

[2016-06-29 21:47] afrind commented on #78
No reply for a while, closing out.  Please reopen if you are still having trouble.

[2016-06-29 21:47] #78 closed

[2016-06-29 21:47] afrind commented on #91
Fix has shipped.

[2016-06-29 21:47] #91 closed

[2016-06-29 21:54] afrind commented on #95
Hmm, without your specific platform here, I'm afraid there's not much I can suggest.  Maybe uninstall and re-install boost?  Is boost in some unexpected location?  There's usually a config.log file which shows the exact commands being run and perhaps more detail on the errors.

[2016-06-29 21:58] wkoszek commented on #95
@afrind @raaka1 It would actually be interesting to learn what platform is that.

[2016-06-29 23:23] #96 closed

[2016-06-30 09:40] raaka1 commented on #95
[Nvidia Jetson TK1 ](http://www.nvidia.com/object/jetson-tk1-embedded-dev-kit.html)

[2016-07-05 06:36] sray256 opened #102 "Missing file "lib/ssl/Makefile.in""
How I reproduce the issue on Ubuntu 16.04:

git clone git@github.com:facebook/proxygen.git
cd proxygen/proxygen
./deps.sh

Here is the relevant part of the output:

libtoolize: copying file 'm4/lt~obsolete.m4'
libtoolize: Consider adding '-I m4' to ACLOCAL_AMFLAGS in Makefile.am.
libtoolize: 'AC_PROG_RANLIB' is rendered obsolete by 'LT_INIT'
autoreconf: running: /usr/bin/autoconf --force
autorecon

[2016-07-06 16:26] afrind commented on #102
My bad.  I’ll fix it if someone hasn’t already beat me to it.

From: sray256 <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Date: Monday, July 4, 2016 at 11:37 PM
To: facebook/proxygen <proxygen@noreply.github.com>
Subject: [facebook/proxygen] Missing file "lib/ssl/Makefile.in" (#102)

How I reproduce the issue on Ubuntu 16.04:

git clone git@github.com<mailto:git@

[2016-07-06 23:36] afrind commented on #102
should be better now

[2016-07-06 23:36] #102 closed

[2016-07-10 13:04] oneOfThePeople commented on #48
you find what was the problem?

[2016-07-14 21:18] Dionis-mgn opened #103 "Multipart form parser"
Hi!

Is there any mechanism to parse multipart forms/other data? It looks like the only way is too use my own(or 3d-party) library. It made me very upset and a little bit annoys me =(.

Maybe I am missing something?

Thanks.

[2016-07-17 16:30] LeonineKing1199 opened #104 "Undefined References in `google` Namespace"
I just downloaded Proxygen today and I'm running the install commands but I'm getting this output:
[code]

I'm not sure where to proceed from here.

I'm using Ubuntu 16.04, g++ is 4.8 (for CUDA purposes), gcc is 6.1.

[2016-07-18 23:39] russoue commented on #104
I could just build and install it on Ubuntu 16.04 but using g++/gcc 5.4. I am not sure if this is related to the specific compiler versions you are using or there is something in your environment that's causing it.

[2016-07-19 02:42] LeonineKing1199 commented on #104
Oh God, I made it so much worse! I switched `g++` to point back to `/usr/bin/g++-6` and now it seems like there's a rogue recursive memory acquisition! Like, running `./deps.sh` is now _dangerous_ on my computer. Here's my console output:
[code]

So yeah... I'm not sure what to do. I do have g++/gcc 5.4 but at this point in time, I'm scared to try again lol.

Is there anything system-dependent in

[2016-07-19 04:21] wkoszek commented on #104
@LeonineKing1199 Maybe try to build in Docker? Just tune the `Dockerfile` to have a Ubuntu 16.04 as a base image.

[2016-07-19 15:13] LeonineKing1199 commented on #104
The Docker thing might be a good idea. But I'm curious, what could it be about my system that's breaking everything so badly?

I'll gladly `uname -a` my way into giving you guys all the information that you need but I'm not running my code on some decrepit system. I have like 8 GB of RAM and a decent CPU, even if it is like 5 or 6 years old by now :P

I'll try again with g++/gcc 5.4 tonight. Havin

[2016-07-19 18:09] wkoszek commented on #104
@LeonineKing1199 It's hard to say what breaks the process for you. Docker will answer the question: whether the state of your system matters. If you make it build in Docker (clean Ubuntu 16.04) then I feel like we could start debugging your system.

Also, a better way of providing logs is this:

* Fetch clean copy of `proxygen`
* Run `script`
* Run build steps
* After they fails, run "exit"

The o

[2016-07-19 18:29] LeonineKing1199 commented on #104
Alright, I'll give that a try tonight. I'm also going to try using gcc 5 because 4 and 6 haven't done much for me.

[2016-07-21 01:20] LeonineKing1199 commented on #104
Hey, hey, so I _think_ I got it all to build!

Turns out, you literally need to use `g++-5` and exactly that version! That being said, I did see a bunch of compilation warnings about things like comparing signed and unsigned integral types. Guys... No reason to shirk writing quality tests!

That being said as well, thank you guys for sticking with it. I was happy that I was able to _finally_ build

[2016-07-21 05:16] wkoszek commented on #104
@LeonineKing1199 I've noticed warnings too. Feel free to submit a pull request with fixes. My pull requests got merged quickly.

[2016-07-21 18:58] LeonineKing1199 commented on #104
Alright, that doesn't sound like a bad idea. I'll probably just wind up copy and pasting this everywhere:
[code]
Seems like it'd be a lot of gruntwork but I'd rather make the explicit decision for conversions rather than leaving it up to the  compiler.

[2016-07-21 18:59] #104 closed

[2016-07-21 19:19] wkoszek commented on #104
@LeonineKing1199 I don't know what you want to achieve with asserts. Looking at your typescript, pretty much all issues are coming from a contributed code:

[code]

You would have to go and fix it there.

[2016-07-21 19:32] LeonineKing1199 commented on #104
Ha, that's funny. I assumed they were in tests and `assert`s were being used as validation. I'll actually take a look at the code and decide how each thing needs to be handled.

[2016-07-26 05:44] daemonSlayer opened #105 "HTTP Client SSL Request"
I am trying to use the HTTP client in order to be able to send secure requests (SSL/TLS). Using the sample client in the library, I am not being able to complete the request. The request requires HTTP 1.1.
After compiling the httpclient sample, using these string values :
[code]
I get this as log output :
[code]

What should I do to remove this problem ? I have tried to check the wireshark output

[2016-07-26 17:22] anirudhvr commented on #105
The curl_client in master works fine for me with just -cert_path and -url.  Are you behind an HTTP proxy or have another reason why the direct connection wouldn't work? Can you confirm that curl and/or wget work to these urls without any proxy specification (e.g., http_proxy environment variable, or a setting in ~/.wgetrc or ~/.curlrc).

If curl/wget works, you may want to try increasing connect_t

[2016-07-26 18:52] daemonSlayer commented on #105
Thanks a lot. I just needed to increase the connect_timeout value.

[2016-07-26 18:52] #105 closed

[2016-08-02 20:38] suspend0 opened #107 "Server & Client duplicate singleton registration of folly::Singleton proxygen::SharedWheelTimer"
First, thanks very much for releasing proxygen.  It's been a fantastic building block for us.  We really appreciate it.  I'm running into trouble trying to use proxygen sample client code inside a binary which runs proxygen::HTTPServer.

To produce a similar error, apply the following patch:

[code]

After a successful build & link (had to `make clean` to pickup changes), the following error:

[co

[2016-08-02 20:43] suspend0 commented on #107
The revision of proxygen I tested is a674e99561404730487256e5f889485d47c3d8c9 (approx 8 commits back)

[2016-08-08 17:07] neomantra opened #109 "commits from Aug5 break make check"
Commits from Aug5 break `make check`.  I'm building this in an Docker container with Ubuntu 16.04, cloning the proxygen repo and running ./deps.sh.

Can reproduce with this Dockerfile:
[code]
Put that in an empty directory and run `docker build --rm=false .`

Reverting folly to commit `cf7b616` (from `c98aec4`) and proxygen to commit `c9a0c42` (from `bd57f81`) fixes this, so something with `catchu

[2016-08-14 12:40] guoxiao opened #110 "Build failed in Fedora 24"
[code]

[2016-08-15 01:24] wkoszek commented on #110
@afrind @russoue @sdwilsh I know it wouldn't have been caught, but can we enable Travis-Ci ? We talked about it in #101, but I don't see it enabled:

https://travis-ci.org/facebook/proxygen

[2016-08-17 18:24] sdwilsh commented on #110
It was turned off for pushes and pull requests (which probably means it wasn't building anything).  I've gone and fixed that so hopefully it works in the future.

[2016-08-22 11:01] detective7th opened #111 "Build Failed wangle has changed member variable name in Aug.19"
wangle TransportInfo: replace 'ssl' with 'secure' and add 'securityType'.

in deps.sh just git fetch the wangle master branch, so it happen.

[2016-08-22 22:56] lnicco commented on #111
thanks for reporting this @detective7th

[2016-08-23 01:35] anirudhvr commented on #111
@knekritz Want to take a look?

[2016-08-23 02:06] knekritz commented on #111
Can you try rebasing both proxygen and wangle to master? I think this should be resolved if both are in sync on master.

[2016-08-29 05:09] cm0n commented on #111
I have also problems with wangle my ubuntu 14.04 stops the build process:
`[ 23%] Building CXX object CMakeFiles/wangle.dir/channel/FileRegion.cpp.o
[ 25%] Building CXX object CMakeFiles/wangle.dir/channel/Pipeline.cpp.o
[ 26%] Building CXX object CMakeFiles/wangle.dir/codec/LengthFieldBasedFrameDecoder.cpp.o
[ 28%] Building CXX object CMakeFiles/wangle.dir/codec/LengthFieldPrepender.cpp.o
[ 30%]

[2016-08-31 12:27] jainarpit6 commented on #111
I also have same problem as reported above while building. I think the error is not because of wangle. I can see error messages while downloading gmock-zip (see below).

__CMake Error at gmock-stamp/gmock-download.cmake:16 (message):_
  Command failed: 1
   '/usr/bin/cmake' '-Dmake=' '-Dconfig=' '-P' '$HOME/proxygen/proxygen/proxygen/wangle/wangle/gmock/src/gmock-stamp/gmock-download-impl.cmake'

[2016-08-31 19:39] mlabour opened #112 "GMock dependency is broken"
==> default: wget https://googlemock.googlecode.com/files/gmock-1.7.0.zip
==> default: --2016-08-31 19:17:04--  https://googlemock.googlecode.com/files/gmock-1.7.0.zip
==> default: Resolving googlemock.googlecode.com (googlemock.googlecode.com)...
==> default: 173.194.195.82, 2607:f8b0:4001:c0c::52
==> default: Connecting to googlemock.googlecode.com (googlemock.googlecode.com)|173.194.195.82|:443

[2016-08-31 19:46] anirudhvr commented on #112
gmock has been moved to the googletest repo. The change would be to pull from https://github.com/google/googletest/googlemock. PR for wangle which fixed this: https://github.com/facebook/wangle/pull/60. cc: @lanxi

[2016-09-01 00:11] lanxi commented on #112
Thank you! Pull request https://github.com/facebook/proxygen/pull/113 has been created to update the dependency.

[2016-09-01 11:19] cm0n commented on #111
For me is the compile problem solved by the newest commit https://github.com/facebook/proxygen/commit/f415a985234ada9d31466f2bda94b697eec4c1ef

Now i have issues on the test cases, they also reported in #112

[2016-09-01 17:13] mlabour opened #115 "make aborts when compiling AsyncTimeoutSet.cpp"
==> default: In file included from /usr/local/include/folly/io/async/Request.h:27:0,
==> default:                  from AsyncTimeoutSet.cpp:14:
==> default: /usr/local/include/folly/Synchronized.h:157:37: error: 'withWLock' function uses 'auto' type specifier without trailing return type
==> default:    auto withWLock(Function&& function) {
==> default:                                      ^
==> d

[2016-09-01 19:24] lanxi commented on #115
@mlabour automatic return type deduction is a feature of c++14 if you are running gcc >=4.8.0
Can you check your gcc version?

[2016-09-01 19:48] mlabour commented on #115
@lanxi. I am running gcc 5.3. I was under the assumption that Proxygen was c++11 compliant but not yet c++14. What would you advise that we do? Thank you!
[vagrant@vagrant-ubuntu-trusty-64 proxygen]$ gcc --version
gcc (Ubuntu 5.3.0-3ubuntu1~14.04) 5.3.0 20151204
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; no

[2016-09-01 20:00] mjs6643 commented on #115
I'm not an Autotools expert but it looks like Proxygen is configured to target `c++0x`

[code]

versus what I see in Folly's `configure.ac`

[code]

[2016-09-01 20:50] lanxi commented on #115
override CXXFLAGS='-DLIBMC_FBTRACE_DISABLE  -Wno-missing-field-initializers -Wno-deprecated -O3 -g -W -Wall -Wextra -Wno-unused-parameter -fno-strict-aliasing -std=gnu++0x -g -O2' with -std=gnu++1y?

[2016-09-06 17:38] #115 closed

[2016-09-08 10:03] daemonSlayer opened #117 "Problem installing proxygen on Ubuntu 16.04"
I downloaded the source code and ran `./deps.sh` in the `proxygen/proxygen` directory. I am getting these errors:
[code]
How can I remove these errors? I have tried compiling the library with both the default `5.3` and the `4.8` version of GCC and they give the same errors.

[2016-09-08 15:21] LeonineKing1199 commented on #117
I've had similar issues in the past, only my code compiled with `5.3`. What if you try `gcc6`? I actually wound up trying all 3 compilers on my machine until I found the Goldilocks one.

[2016-09-10 08:40] janlely opened #119 "/usr/bin/ld: EchoHandler.o: undefined reference to symbol '_ZNSt3__18ios_base5clearEj'"
OS : ubuntu 14.04
CC:  clang-3.8
CXX : clang++-3.8
libc++ : latest
boost : 1.59

folly, wangle : latest
ERROR:
/usr/bin/ld: EchoHandler.o: undefined reference to symbol '_ZNSt3__18ios_base5clearEj'
//usr/local/lib/libc++.so.1: error adding symbols: DSO missing from command line

[2016-09-16 22:47] #112 closed

[2016-09-16 22:49] afrind commented on #111
Closing since your compilation is working and test issues are tracked in #112

[2016-09-16 22:49] #111 closed

[2016-09-19 13:13] ustczxf commented on #103
I encountered the same issue with you:(

[2016-09-19 16:54] afrind commented on #95
Going to close this out for now.  If you are still blocked on this - try posting in the group: https://groups.google.com/forum/#!forum/facebook-proxygen and maybe another user there can help?  Be sure to include the relevant output from config.log

[2016-09-19 16:54] #95 closed

[2016-09-19 17:40] afrind commented on #109
I got a clean run of deps.sh from the current HEAD, so I assume this must be resolved now.  Please reopen if you are still getting issues?

[2016-09-19 17:40] #109 closed

[2016-09-19 17:41] afrind commented on #110
I don't have Fedora 24 - is this still an issue or have you found any workaround?

[2016-09-19 19:06] afrind commented on #117
I just built a new 16.04 VM and ran deps.sh on it from HEAD.  It pulled in gcc-5.4 and built cleanly.  Try that and reopen if you are still having trouble?

[2016-09-19 19:06] #117 closed

[2016-09-19 19:22] afrind commented on #74
I just built a new Ubuntu 16.04 VM and ran deps.sh && resinstall.sh from HEAD and it worked.  I even ran the SPDYCodecTests with a CPU intensive job in the background to see if CPU load affected it.  I built with gcc-5.4.

Given the comment from @byronhe I wonder if it might be somehow locale dependent?  Can folks post if they are still seeing this on recent ubuntu?

[2016-09-19 20:59] afrind commented on #119
I installed clang-3.8 and ran

CC=/usr/bin/clang-3.8 CXX=/usr/bin/clang-3.8 ./configure
CC=/usr/bin/clang-3.8 CXX=/usr/bin/clang-3.8 make

and got a similar issue:

/bin/bash ../../../libtool  --tag=CXX   --mode=link /usr/bin/clang-3.8 -std=gnu++14  -DLIBMC_FBTRACE_DISABLE  -Wno-missing-field-initializers -Wno-deprecated -O3 -g -W -Wall -Wextra -Wno-unused-parameter -fno-strict-aliasing -g -O2   -

[2016-09-21 03:42] guoxiao commented on #110
@afrind no workaround found yet... :sob:

[2016-09-28 15:12] jkomyno opened #120 "Build failed on Ubuntu 16.04"
Here's the error part of the build log:

g++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See file:///usr/share/doc/gcc-5/README.Bugs for instructions.
Makefile:1604: recipe for target 'futures/Future.lo' failed
make[2]: **\* [futures/Future.lo] Error 1
make[2]: **\* Waiting for unfinished jobs....
libtool: compile:  g

[2016-09-30 16:21] guoxiao commented on #110
@afrind I found I have another old version of `libwangle.a` in `/usr/lib`. After removing it and build again, the issue is gone...

[2016-09-30 16:21] #110 closed

[2016-10-15 05:21] CipherLiu commented on #25
Have this issue fixed? why did I get the same problem with the code on master branch ?

[2016-10-15 05:54] CipherLiu opened #121 "Install Problem similar to #25 which is closed"
![screenshot from 2016-10-15 13 45 36](https://cloud.githubusercontent.com/assets/3993620/19407784/c711fc80-92de-11e6-9c04-2a86953f2cca.png)
after run deps.sh ,the complie just hang there..

[2016-10-17 14:17] lnicco commented on #121
Hi @CipherLiu, as in #25 there could be some dependency issue with Folly/thrift.
I'm taking a look. Thanks for reporting this.

Just to help me reproduce it, could you add some information on what your environment is ?
Linux distribution and version, and gcc version ?
thanks

[2016-10-18 23:42] lanxi commented on #120
Hi @jkomyno sorry about the delay! We are not seeing this error with our dev setting but I am going to try repro this using a similar environment. It looks like a problem building folly with libtool. Have you tried posting in folly group? Meanwhile for us we are using Ubuntu 14.04, libtool-2.4.2 and gcc-4.8.2

[2016-10-24 19:28] DemiMarie commented on #93
Do you plan on using I/O Completion Ports or just falling back to the slow `select()` API?

[2016-10-27 16:48] TW80000 commented on #120
I'm not a part of the Proxygen team, and I don't know if this is helpful, but I downloaded Ubuntu 16.04.1 LTS this week, installed it on a VM, cloned Proxygen from Github, installed it, and ran the EchoServer example without any problems. That indicates to me that your error isn't caused by Ubuntu or Proxygen. Hopefully that helps you narrow your search for an answer.

[2016-11-01 07:28] itwalter opened #124 "wangle lib not included"
commit 9d898219da13ecf1c12d35904e5d6ee25599d777 added `#include <wangle/client/ssl/SSLSession.h>` into _proxygen/httpserver/tests/HTTPServerTest.cpp_

However, as shown in _wangle/CMakeLists.txt (tags/v2016.10.31.00)_, the header files _wangle/client/ssl/*.h_ have not been installed into _/usr/local/include/wangle/client/ssl/_

In this way, deps.sh will terminate with the following error:

depbase

[2016-11-01 07:34] itwalter commented on #124
This was found in proxygen tags/v0.32.0-403-gcd79c81

[2016-11-02 09:36] sofartogo opened #126 "large post data process"
Hi, I'm a user of Proxygen, and like it very much.

Now I met a problem :
When I use curl to post large data to my http server(based on proxygen), I cannot receive complete post data in the server side(just receive part of it). I'm not sure whether I use the proxygen http server in a wrong way or some settings of curl is wrong. Can anybody share some opinions?

Excuse for my pool English.

[2016-11-02 11:48] sofartogo commented on #126
Hi, I'v solve the problem mentioned above...

Multiple IOBuf bodies is a chain, I construct the completed body by memcpy all the bodies in the chain to a unique one.

Thanks anyway!

[2016-11-02 15:33] afrind commented on #126
The coalesce() function will do this for you if you need a contiguous memory buffer, but could be expensive for very large POSTs. You may want to consider writing your body processing code to work with non-contiguous buffers (see folly/io/Cursor.h)

From: 王维 <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Date: Wednesday, November 2, 2016 at 4:48 AM
To: facebook/pro

[2016-11-03 08:55] sofartogo commented on #126
I'v used coalesce() to refresh my code because I need to process the contiguous memory buffer. Thanks very much!

[2016-11-03 20:33] elsteelbrain opened #127 "Support for QUIC"
QUIC is a transport layer protocol introduced by Google as a successor to SPDY. It is very similar to TCP + TLS + HTTP/2 but it works on UDP instead of TCP. It has great tolerance for network interruptions and "dramatically" reduces connection establishment time by providing 0-RTT handshakes.
[proto-quic](https://github.com/google/proto-quic) is standalone library for QUIC. There is also [libquic]

[2016-11-03 20:38] w-o-o commented on #127
We are interested in supporting QUIC for sure.  However, no ETA to share now.

[2016-11-03 20:44] raeesbhatti commented on #127
@w-o-o Is anyone currently working on this or is it a TODO?

[2016-11-04 00:54] w-o-o commented on #103
can you attach a test case or instruction to reproduce this issue?  I can take a look at it

[2016-11-04 01:05] w-o-o commented on #47
@Israr it works well for me now.   Reopen this if you believe it is still an issue

$ curl --header "Host:scontent.cdninstagram.com:443"  https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s150x150/e15/11049316_1583549288528575_1352209504_n.jpg  -o imge.jpg
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total

[2016-11-05 00:39] Israr commented on #47
Yes, it works now. However I am very disappointed in the way the problem was addressed. Nobody root-caused the issue, and no-one responded to my comments, and then the issue self-healed itself after 1 year or so.

Due to lack of response from maintainers, I had to implement workaround for this issue.

[2016-11-07 17:00] afrind commented on #47
We did root cause the problem, sorry that is was not communicated well on this thread, and that it took so long to solve.  Internal to Facebook, we had certain logic for processing requests that was conditional upon the host header that was expecting the default port to be elided.  This was not really an issue with the proxygen library, but with the rule logic server side.  This has been corrected

[2016-11-09 18:09] rmedaer commented on #77
Hi guys,

FYI: I implemented a small router based on libr3: https://github.com/rmedaer/proxygen-routing

@jhonatandarosa @jamperry not sure to understand why it should be embedded in Proxygen library itself...
@bajaarbot mine is using r3.

[2016-11-16 12:16] MatteoBertolino92 opened #128 "[Segnalation] Mix issues during the installation and the compilation"
Ubuntu 14.04.

1) In the README it is adviced: g++ -std=c++11 -o my_echo EchoServer.cpp EchoHandler.cpp -lproxygenhttpserver -lfolly -lglog -lgflags -pthread
Actually there is the error: error: ‘withWLock’ function uses ‘auto’ type specifier without trailing return type
That can be solved compiling with g++ -std=c++1y

2) Compilation error: in HTTServertest.cpp , it does not find #include <wangle/

[2016-11-17 16:48] afrind commented on #103
I landed a parser for this under experimental.  It's never been used in production so let me know if you encounter any issues.

[2016-11-17 16:48] #103 closed

[2016-11-18 21:11] abhiguru commented on #107
did you figure out what was the reason ?

[2016-11-18 22:58] abhiguru commented on #107
I had to build HTTPServer from source as a part of my code and just using the libproxygenlib.a as an input lib to get around this issue, was really trying to avoid doing that... using CMake

[2016-11-22 00:13] suspend0 commented on #107
The reason is b/c proxygen httpserver & proxygen client code wasn't designed to work in the same binary.  This may be reasonable choice by the authors of the library but it surprised me.

To work around I wrote my own client based on libcurl.

[2016-11-22 00:19] afrind commented on #107
The code should be able to work in the same binary.  We’ll try to fix this.

From: Darren Gilroy <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Date: Monday, November 21, 2016 at 4:13 PM
To: facebook/proxygen <proxygen@noreply.github.com>
Subject: Re: [facebook/proxygen] Server & Client duplicate singleton registration of folly::Singleton proxygen::SharedWheelTimer

[2016-11-22 00:46] lnicco commented on #121
@CipherLiu I am not able to reproduce this.
Are you still affected by this issue ?

[2016-11-24 07:13] CipherLiu commented on #121
@lnicco sorry for the delay , I just ignore the tests

[2016-11-25 03:14] #126 closed

[2016-11-25 03:56] sofartogo opened #130 "Too many open files"
Hi, After running httpserver for a long time, program occurs an error :

Could not create logging file: Too many open files
COULD NOT CREATE A LOGGINGFILE 20161123-073115.17162!Could not create logging file: Too many open files
COULD NOT CREATE A LOGGINGFILE 20161123-073115.17162!Could not create logging file: Too many open files
COULD NOT CREATE A LOGGINGFILE 20161123-073115.17162!E1123 07:31:15.

[2016-11-27 07:35] russoue commented on #124
Can you please submit a PR for it?

[2016-11-27 12:31] abhiguru opened #131 "Segfault making SSL request"
Most of my SSL request work okay but I am getting this segfault which seem to be coming from libcrypto  searches for similar error say it might be openssl thing and should change the lib to some other ?

https://gist.github.com/abhiguru/26eb6ac11f9b32f386578e97d940b55e

#0  0x00007ffff709d384 in RSA_free () from /lib/x86_64-linux-gnu/libcrypto.so.1.0.0
No symbol table info available.
#1  0x00007ff

[2016-11-28 00:52] lnicco commented on #128
Hi @MatteoBertolino92,
thanks for reporting the issues.
Your second point is a known issue (see #124) and there is a fix ready to be pushed soon.

I'll look into the first issue you pointed out.

[2016-11-28 00:53] lnicco commented on #124
Hi @itwalter, thanks for reporting this, and apologies for the delay.
It's going to be fixed soon, with a diff slightly different from the one you proposed.
I'm going to add "-lwangle" to the list of libs instead.

[2016-11-28 03:41] lnicco commented on #124
this issue should be fixed by this wangle commit
https://github.com/facebook/wangle/commit/bf271118962eb6b2d30adac2e6281b6871d26c72

[2016-11-28 03:57] itwalter commented on #124
@lnicco The fix is awesome, thanks.
BTW, the fix I proposed failed the auto test, but it is workable in our several environments.  I did not dig into the difference between Travis and my dev env yet.

[2016-11-28 04:00] itwalter opened #132 "Versioning & Dependency Issue"
When digging in #124, potential issue is found in deps.sh, since it always "git clone" from the latest tag of external projects.

In this case, the tag labelled for proxygen does not make sense because the dependencies are NOT fixed and clear.  As long as external projects evolve, proxygen will be subject to the unstability from outside.

[2016-11-28 04:01] itwalter commented on #124
Just created #132 for the versioning & dependency issue found during investigation for current issue.

[2016-11-28 04:10] lnicco commented on #124
thanks @itwalter,
the Travis build could be broken for some other reason.
we are tracking it internally.

thanks for filing #132: I believe that we always want to build from master folly and wangle though

[2016-11-28 04:14] lnicco commented on #132
the tag was introduced to work around some non backwards compatible change in the dependencies.
It is not in use anymore and we want to always build from master folly and wangle as that is what we also use internally, so they should be guaranteed to be in sync at (almost) all times

[2016-12-01 21:47] #132 closed

[2016-12-01 21:59] lanxi commented on #130
Hi @sofartogo rather than allowing unlimited number of open sockets for your httpserver, it might be worthwhile looking for any kind of leaking inside your service. It is not expected for acceptor to run out of available fd/sockets even if it is a considerable large number.

[2016-12-01 22:29] lanxi commented on #131
Hi @abhiguru it could possibly be a double free at someplace. Can you try running an ASAN build to get more debugging info at this segfault?

[2016-12-01 23:06] anirudhvr commented on #131
@abhiguru Can you check your OpenSSL version? From the logs, it seems you're using 1.0.0, which we don't support. We recommend the latest version of OpenSSL 1.0.2 though proxygen likely will also work with 1.0.1.

[2016-12-02 01:51] #124 closed

[2016-12-02 22:32] abhiguru commented on #131
@lanxi working on it and checking for double free @anirudhvr uninstalled reinstalled libssl-dev:amd64 (1.0.2g-1ubuntu9) and OpenSSL 1.0.2g to make sure it is the supported version for some reason had to install pip to get rid of cert error after reinstallation of both still getting the same error

[2016-12-03 03:37] athula commented on #131
@abhiguru Can you log the OpenSSL version used in your program to confirm that 1.0.2 is correctly picked up? You can use SSLeay_version() to print the runtime version as a string: https://linux.die.net/man/3/ssleay

Re: the crash - you might be able to get more information from an asan binary on the double free. If you have a test program that reproduces this problem, that'd be good as well.

[2016-12-03 03:40] anirudhvr commented on #131
(Sorry, this computer had github logged into my wife's account)

@abhiguru Can you log the OpenSSL version used in your program to confirm that 1.0.2 is correctly picked up? You can use SSLeay_version() to print the runtime version as a string: https://linux.die.net/man/3/ssleay

Re: the crash - you might be able to get more information from an asan binary on the double free. If you have a test pr

[2016-12-03 16:27] abhiguru commented on #131
here you go -  SSL Version OpenSSL 1.0.2g  1 Mar 2016... stay tuned for the ASAN build output

[2016-12-07 18:32] afrind commented on #74
Old issue, cannot repro.

[2016-12-07 18:32] #74 closed

[2016-12-07 18:35] afrind commented on #120
I think this usually happens when you don't have enough memory.  How much RAM do you have?

[2016-12-07 18:39] afrind commented on #130
proxygen has to have one open file (fd) for each client socket.  Your fd limit needs to be at least as high as the maximum number of concurrent connections you want to have.  If you are hitting this but don't have many connected clients then it's probably a leak.

[2016-12-08 03:10] abhiguru opened #133 "random "Failed to resolve address Exception" after several successful resolutions"
Getting this error at random times, First attempt it resolves the ip address and the second time same address it throws an exception this exception is after at least 100+ such successful resolutions of the same domain (The original domain has been changed below...)

Would appreciate any pointers on what might be causing this

 Url is r6---sn-ci5gup-cagl.xyzvideo.com:443
I1208 08:31:48.732450 24185

[2016-12-08 16:29] afrind commented on #133
What class are you using for address resolution?  Can you write a small test program that resolves that address in a loop and doesn't do anything else proxygen related?

[2016-12-08 17:21] abhiguru commented on #133
It fetches a live stream and the URIs keeps changing but the domain is the same I thought it would have been cached to save on the resolution request ? It does use FB Proxygen CurlClient I tried exception handling using the f.via().onError methods and others I came across in the documentation but have not yet been able to handle it. Can I email or message the sample ? It is short code but not as t

[2016-12-08 21:07] abhiguru opened #134 "SIGSEGV proxygen::HTTPMessage::dumpMessage() occasionally"
*** Aborted at 1481230987 (unix time) try "date -d @1481230987" if you are using GNU date ***
PC: @     0x55837fd0a5cc proxygen::HTTPMessage::dumpMessage()
*** SIGSEGV (@0x7fb781262c88) received by PID 13941 (TID 0x7fb6d547e700) from PID 18446744071581346952; stack trace: ***
    @     0x7fb6e077b670 (unknown)
    @     0x55837fd0a5cc proxygen::HTTPMessage::dumpMessage()
    @     0x55837fce96eb C

[2016-12-08 21:10] abhiguru commented on #131
I had to shift to using just the HTTPClient given some time constraints so will update on the ASAN build when I get back to using the proxygenserver codebase which is causing this issue.

[2016-12-08 21:32] abhiguru opened #135 "Window.cpp:20 Check failed setCapacity(capactity) ocassionally"
Occasionally seen

F1209 02:58:16.844967 16095 Window.cpp:20] Check failed: setCapacity(capacity)
*** Check failure stack trace: ***
    @     0x7f1cdb06b5ad  google::LogMessage::Fail()
    @     0x7f1cdb06d413  google::LogMessage::SendToLog()
    @     0x7f1cdb06b13b  google::LogMessage::Flush()
    @     0x7f1cdb06ddfe  google::LogMessageFatal::~LogMessageFatal()
    @     0x56481414c073  proxyg

[2016-12-08 21:53] afrind commented on #135
Can you see what is the value of 'capacity' and where did it come from?  Can you run with -v 3 or -vmodule Window*:3?  There's some detail that can be printed from setCapacity that may help.

[2016-12-08 21:58] afrind commented on #134
Highly doubtful that the bug is in dumpMessage itself, again, ASAN would likely help.  Given that you have reported several other memory related crashes perhaps all have a similar root cause.

[2016-12-08 23:05] afrind commented on #133
You probably don't want to be using folly::SocketAddress(hostname, port, true) for synchronous name resolution, as the sample does, unless you are doing it outside your event loop thread.  In any case you can just replace it with gethostbyname and see if you have the same troubles.

[2016-12-09 18:08] psetevik commented on #107
Any progress on this ? Getting affected  by the same issue. Have a simple HTTPServer-based server (simple copy/edit of stock EchoHandler/EchoServer) and when I try to use any timer-related functionality on HTTPTransaction (ie txn_->setIdleTimeout(..), I get the dreaded:

Double registration of singletons of the same underlying type; check for multiple definitions of type folly::Singleton<N8proxyge

[2016-12-10 00:27] afrind commented on #107
So I just built a simple proxy server sample starting from the Echo sample, and adding code *like* the curl client, though not directly copy/pasting it.  I didn't have any HHWheelTimer issues.  I will try to get this shipped soon but it's probably early next week.  How I handled the HHWheelTimer required by HTTPConnector was to create one per-thread (using folly::ThreadLocal) inside my handler fac

[2016-12-10 00:40] abhiguru commented on #107
If the handler does a HTTPCurlClient call with a runInEventBaseThread using the evb that was passed in onServerStart(assuming it is passed into the handler) can it use the timer or should it use a separate timer?

[2016-12-10 00:51] afrind commented on #107
There should generally only be one timer per thread, associated with an evb, and the timer is not thread safe.  But if I understand your question correctly, you have something like:

[code]

This is ok, but it Is actually overkill, since the handler code is already in the event base thread.  You can just do:

`evb->runInLoop([timer_] { do something with timer });`

[2016-12-10 04:34] abhiguru commented on #107
got it that("overkill...") clears up some of the confusion

[2016-12-10 23:27] psetevik commented on #107
Thanks for looking into it.

The IO Worker thread (one that "receives" inbound requests) already has an EventBase, along with HHWheelTimer that is "ticked" by that EventBase (as managing TOs for inbound ManagedConnections/HTTPSessions/Transactions requires a HHWheelTimer ).

It makes sense to use same  EventBase and its HHWheelTimer object for outbound Sessions/Transactions as well. EventBase has

[2016-12-11 22:38] psetevik opened #136 "Idle timeout offset by +5000 ms ( 5 secs)"
When playing with EchoServer code, I noticed that requested idletimeout is enforced with positive offset of 5 secs. In other words, when set to 5000 ms, it will actually be enforced @ 10000 msec. 10 sec -> 15 sec, 20 -> 25 and so on.

TO value is set via:

  HTTPServerOptions options;
  options.threads = static_cast<size_t>(FLAGS_threads);
  options.idleTimeout = std::chrono::milliseconds(20000);

[2016-12-12 16:34] afrind commented on #136
Indeed.  The forceful shutdown of a connection is delayed by the HTTPSessionController's "graceful shutdown timeout", which defaults to 5 seconds.  The extra grace period is to catch a request that may be in flight to the server.  It makes a little more sense with HTTP/2.  When the idle timer expires we send an immediate GOAWAY with last good stream=maxint.  A final GOAWAY with the real last good

[2016-12-12 18:29] psetevik commented on #136
Yes, I noticed the "graceful" thing yesterday as I was trying to figure out what is going on.

I guess the waters are muddied by the recent fad of "preopening" connections in browsers, in expectation that end use might actually click on some link(s). So you get all these conns opened, but no requests ever come through.

[2016-12-12 18:29] #136 closed

[2016-12-12 19:03] afrind commented on #107
Yes I noticed there was already an HHWheelTimer inside wangle/acceptor/ConnectionManager.  This used to be an AsyncTimeoutSet (lightweight) but was converted to an HHWheelTimer without thinking about the weight or how best to share that one.  I filed an issue internally to try to clean that up.

The SharedWheelTimer is a global map of evb to WheelTimers.  We've had issues internally with different

[2016-12-15 21:27] yan opened #137 "munmap_chunk(): invalid pointer on free() in ~HTTPHeaders()"
I've ran into an issue that has me stumped. I am working on creating my own HTTP client by roughly following the CurlClient example. I am wrapping the transaction handler and the client callbacks in a simple function that returns Future<stirng> of the response.

HttpClient is an HTTPConnector::Callback and HTTPTransactionHandler subclass with relevant methods provided below. In this case, `ClientR

[2016-12-15 21:57] yan commented on #137
Also, providing some associated valgrind output:

[code]

[2016-12-15 22:08] afrind commented on #137
Can you repro using the curl sample by adding simply adding a loop?  Can you print the response headers you are getting?

[2016-12-15 22:11] yan commented on #137
Getting an almost identical issue running the curl example unmodified:

[code]
... memory map ...
[code]

uname: `Linux host 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2016-12-15 22:13] afrind commented on #137
What are your args and what do the response headers look like?

[2016-12-15 22:23] yan commented on #137
Running `curl` sample with no args, cmdline and headers below:

[code]

[2016-12-16 00:23] bmgandre opened #138 "Error building latest release"
The latest release is failing to build using the latest release of folly and wangle.
v0.32.0 is almost 4 months old, so is there plans to release a new version?
... or maybe tags are missing here.

[2016-12-16 16:25] yan commented on #137
I've tracked this problem down to https://github.com/facebook/folly/issues/498. I was using clang to build folly, wangle, proxygen and my project. I attempted running fbvector tests and those failed in a similar fashion when built with clang. I recompiled everything with gcc, and everything works.

[2016-12-20 17:47] afrind commented on #137
Thanks for tracking that down!

[2016-12-20 17:47] #137 closed

[2016-12-23 14:18] agah-pt commented on #138
I agree with the post above.
It would help to have tags or something to keep track of versions.

[2016-12-24 08:17] spartucus commented on #120
Same problem occurs when my Ubuntu 16.04 's RAM is 2 GB, in fact, system uses some, just left 1.9 GB valid. When I change RAM from 2 GB to 4 GB, build succeed.

It seems like that the Doc makes this note for a reason.

`You will need at least 2 GiB of memory to compile proxygen and its dependencies.`

[2016-12-26 16:08] cyongxue opened #141 "what module the "dec/decode.h" is?"
proxygen/lib/utils/BrotliStreamDecompressor.h:12:10: fatal error: 'dec/decode.h' file not found

What “dec/decode.h” is？

[2016-12-27 16:01] maxgeorg commented on #141
Thank you for reporting this problem!
“dec/decode.h” is supposed to come from "brotli" library, https://github.com/google/brotli.
Proxygen does not pull brotli from GitHub explicitly, as it does for folly and wangle libraries. It looks like it should pull it. Looking into it.

[2016-12-29 00:03] maxgeorg commented on #141
@cyongxue , could you please share the exact steps you used when you hit this build error?
It does not look like this file, BrotliStreamDecompressor.h, is touched by the build triggered by deps.sh.

[2017-01-02 16:01] abhiguru commented on #131
Finally got an ASAN build, did symbolize the output if it helps, I read on StackOverflow that SSL_library_init() is required to get around before SSL_CTX_NEW(..) which seems to be at
folly/folly/io/async/SSLContext.cpp:  ctx_ = SSL_CTX_new(SSLv23_method()); init is performed in the same folly file

==6214==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7fee993fdcf7 at pc 0x563b3d0799e

[2017-01-02 18:06] abhiguru commented on #133
I cached the socketAddress when the host is the same and moved it out of the event loop for first time resolution will close this for now.

[2017-01-02 18:06] #133 closed

[2017-01-03 07:48] anirudhvr commented on #131
Correct, the initialization is done via the constructor of SSLContext which calls a static method initializeOpenSSLLocked(); this does library init and sets some locks. Can you try creating an SSLContext object before your calls? FWIW your stack doesn't seem to directly implicate SSL init as the problem

[2017-01-03 08:42] bjd opened #142 "build fails on httpserver proxy sample"
[code]

Adding ```#include <gflags/gflags.h>``` to ProxyHandler.cpp fixes it

[2017-01-03 09:02] lnicco commented on #142
thanks @bjd for reporting this. Will be fixed soon!

[2017-01-03 09:35] lnicco commented on #142
in any case, could you please post more information on your setup, and the command you run to build ?
as this is building fine internally

[2017-01-03 09:59] bjd commented on #142
I'm trying to build it on a Centos 6.7 system with devtoolset-4 (g++ 5.3.1).
I have built and installed all the dependencies manually (in similar way as what deps.sh is doing for ubuntu). I have the dependencies installed under custom location at /rest/build and then try to build proxygen as follows:
[code]

[2017-01-03 17:26] abhiguru commented on #131
That seems to be working but now it is throwing "SSL_CTX_new: unable to load ssl2 md5 routines"

[2017-01-03 17:45] #142 closed

[2017-01-03 20:32] anirudhvr commented on #131
It seems you are including SSLv2 somehow. I'd recommend removing any explicit calls to OpenSSL_add_all_algorithms or SSL_init_library, and initializing SSLContext with SSLVersion::TLSv1

[2017-01-03 23:25] abhiguru commented on #131
It seems the default is SSLContext.h(SSLVersion version = TLSv1) and when I checked my system using openssl ciphers -v 'TLSv1' | head -4 it seems to be mapped to SSLv3, Also read v1 is deprecated and v1.2 should be used but the code(SSLContext.h) seems to suggest TLSv1 is supported at the moment or am I missing something ?

$ openssl ciphers -v 'TLSv1' | head -4
ECDHE-RSA-AES256-SHA    SSLv3 Kx=EC

[2017-01-04 11:43] lnicco commented on #142
@bjd thanks for the additional info. We currently officially support ubuntu only and that's where we run our contbuild right now.
You manually replicating what deps.sh does could explain the error you are seeing here.

I have fixed the include in ProxyHandler, let us know if you hit any other issue,
or if you have feedback on the new proxy example.

[2017-01-04 15:50] abhiguru commented on #107
@afrind I tried runInLoop as suggested instead of runInEventBaseThread but it throws an exception Check failed: isInEventBaseThread() I posted a version of the code in the gist below

https://gist.github.com/abhiguru/68041ef47969bb63b7a375aee99d1c93

[2017-01-04 17:45] abhiguru opened #143 "Buffer Overflow"
=================================================================
==4378==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7fd600665db0 at pc 0x5627523aa7ef bp 0x7fd600665d60 sp 0x7fd600665d50
READ of size 8 at 0x7fd600665db0 thread T8
    #0 0x5627523aa7ee in std::less_equal<char const*>::operator()(char const* const&, char const* const&) const /usr/include/c++/6/bits/stl_function.h:40

[2017-01-04 17:49] afrind commented on #143
There are no proxygen frames in this stack.  What makes you think it is a proxygen issue?

[2017-01-04 18:24] abhiguru commented on #143
Will post it to Folly sorry about that.

[2017-01-04 18:25] #143 closed

[2017-01-04 18:27] abhiguru commented on #134
Unable to reproduce this at the moment will open with ASAN logs when reproduced

[2017-01-04 18:27] #134 closed

[2017-01-05 21:33] Orvid commented on #93
Proxygen uses Folly's event loop, which uses libevent, which in turn uses select, so unfortunately, yes, it will be using `select` rather than completion ports.

[2017-01-11 11:52] gangadharmgithub opened #144 "Issues in using libproxygenhttpserver and facebook libthrift"
I have a Make file with below libraries linked to my program and compilation goes fine.
-lproxygenhttpserver -lthrift -lthriftcpp2 -lthriftprotocol

But when I run the program,  I see below error:
./TestClient
ERROR: flag 'dcache_unit_test' was defined more than once (in files '/root/test/wangle-2016.10.17.00/wangle/ssl/SSLSessionCacheManager.cpp' and '/wangle/wangle/ssl/SSLSessionCacheManager.cpp

[2017-01-11 12:06] gangadharmgithub commented on #144
from config.log:

configure:18885: g++ -o conftest -DLIBMC_FBTRACE_DISABLE  -Wno-missing-field-initializers -Wno-deprecated -O3 -g -W -Wall -Wextra -Wno-unused-parameter -fno-strict-aliasing -g -O2   conftest.cpp -lwangle  -lfolly -lz -lssl -lcrypto -lcap -levent -lgflags -lglog  >&5
/usr/lib/gcc/x86_64-linux-gnu/6/../../../../lib/libwangle.so: error: undefined reference to 'pthread_setname_np'
/u

[2017-01-11 14:17] gangadharmgithub commented on #144
The below changed fixed the issue.

root@vsan-blr49:~/ganga/pgengit/proxygen# git diff
diff --git a/proxygen/configure.ac b/proxygen/configure.ac
index 19566f5..b931ba7 100644
--- a/proxygen/configure.ac
+++ b/proxygen/configure.ac
@@ -35,6 +35,7 @@ CXXFLAGS="-fno-strict-aliasing $CXXFLAGS"
 CXXFLAGS="-O3 -g -W -Wall -Wextra -Wno-unused-parameter $CXXFLAGS"
 CXXFLAGS=" -Wno-missing-field-initializ

[2017-01-12 00:55] lanxi commented on #144
Hi @gangadharmgithub,

Thanks for addressing this issue! According to the [README](https://github.com/facebook/proxygen/blob/master/README.md#using-it) file, when you build with `-lproxygenhttpserver -lthrift -lthriftcpp2 -lthriftprotocol`, `-pthread` flag is also needed. That should resolve the error you were encountering. Please let us know if you have any questions/concerns and thank you again

[2017-01-12 05:08] gangadharmgithub commented on #144
Hi @lanxi,

In my application I have -pthread flag. The problem is when running ./configure to build a libproxygenhttpserver library,  I am seeing below issue:

**configure: error: Please install the wangle library from https://github.com/facebook/wangle**

./configure.log shows:
------------------------------
onfigure:18885: g++ -o conftest -DLIBMC_FBTRACE_DISABLE -Wno-missing-field-initializers

[2017-01-12 09:53] amin-jabri commented on #3
I have tried to build Proxygen on OSX, but still blocked due to missing libcap. Is there a way to workaround the "libcap" dependency?

[2017-01-13 20:34] lanxi commented on #144
Thank you @gangadharmgithub :) The pull request has been processed for this.

[2017-01-13 20:34] #144 closed

[2017-01-18 22:05] afrind commented on #138
We've enabled weekly tagging and I see the latest tag is from this week.

[2017-01-18 22:05] #138 closed

[2017-01-18 22:06] afrind commented on #107
Ok, I think the sample shows how to use one timer per thread and prevent the issue described.

[2017-01-18 22:06] #107 closed

[2017-02-02 21:32] afrind commented on #127
We're involved with the QUIC standardization efforts through the IETF, but we're not likely to add support for "google" QUIC.

[2017-02-10 00:41] Dalzhim commented on #3
Simply comment out the else clause in the configure script where it spits an error. That way it will keep going without generating the #define HAVE_LIBCAP 1 instruction which is all fine to experiment with Proxygen on OS X.

[2017-03-01 19:22] afrind commented on #141
Closing due to inactivity.  Please reopen with repro steps if it's still a problem.

[2017-03-01 19:22] #141 closed

[2017-03-01 19:23] afrind commented on #135
@abhiguru We're still interested to debug this if you have more details to go on.

[2017-03-01 19:24] afrind commented on #130
I think it's either a leak in the application code or system system settings not being high enough for peak traffic.  Please reopen with repro steps if you have them.

[2017-03-01 19:24] #130 closed

[2017-03-01 19:32] afrind commented on #120
Issue is resolved with more RAM, and the README is updated

[2017-03-01 19:32] #120 closed

[2017-03-01 19:35] anirudhvr commented on #131
@abhiguru Is this issue resolved?

TLSv1 or later is not deprecated, but SSLv3 and before are deprecated. SSLv2 is broken, so you should pick up a new OpenSSL version (1.0.2-stable or later) that will leave this disabled by default.

Your ASAN stack indicates there's a problem doing an SSL_CTX_new. Can you provide more detail on that if it still exists? Generally, OpenSSL 1.0.2 and prior use globa

[2017-03-01 19:43] afrind commented on #77
It seems like folks are building this on their own in a variety of different ways.  If someone really likes their implementation and would like to incorporate it into the library, submit a PR and we will review it.  In the meantime, we recommend that if you need this functionality you grab it from one of the linked projects.

[2017-03-01 19:45] afrind commented on #47
As mentioned before, this was an issue with the live site and not the library, and the live-site issue was fixed.

[2017-03-01 19:45] #47 closed

[2017-03-02 20:53] michaelpog opened #150 "Connection Pooling doesn't work"
I'm trying to implement a connection pool for the http client.
I'm attempting to store for every remote address (host:port) a queue of HTTPUpstreamSessions that I can reuse.
I'm having issues reusing those sessions.
Looking through all handlers and callbacks of HTTPTransaction and HTTPUpstreamSession, I can't find a callback in which I can put the HTTPUpstreamSession back into the pool and have it

[2017-03-02 21:00] afrind commented on #150
The callback you want is HTTPSession::InfoCallback::onTransactionDetached.  In this callback you can check to see if the connection is below the maximum transaction limit and move it into the queue.

[code]

I don't think it's true that a single transaction timeout would cause the whole session to be torn down.  Can you give me an example of that?

[2017-03-02 22:03] Memnarch opened #151 "Buildline for ECHO in Readme uses C++11 but requires C++14"
Just noticed the following buildline is wrong(in Readme)

But it requires C++14, so it should look like this:

Otherwhise errors like this will popup:
[code]

[2017-03-02 22:40] michaelpog commented on #150
Thanks for the reply.
I've tried putting my code in HTTPSession::InfoCallback::onTransactionDetached, and I see that that never gets called.
I see that the only place that onTransactionDetached callback can be called from is in HTTPSession::detach. But apparently that doesn't happen.
The only callback that is called (that I could think would be a good place ) is HTTPSession::InfoCallback::onDeacti

[2017-03-02 22:43] lnicco commented on #151
thanks for the report,
this is the same issue signaled in #128
fixing it now

[2017-03-02 22:43] #151 closed

[2017-03-03 00:51] afrind commented on #150
Oops I guess you actually need to implement both callbacks.  Kind of ugly that HTTPSession gives you different callback.  I think we should probably deliver onTranactionDetached whenever a transaction detaches, and onConnectionDeactivated when it goes completely idle.

That being said, you probably shouldn't be timing out?  Either your request or response is not completing.

There are APIs in HTTP

[2017-03-03 02:41] #128 closed

[2017-03-03 17:17] michaelpog commented on #150
Thank you again for your reply.
Regarding the timeout, I believe there is a flaw here.
First of all timeouts are normal in my case. I'm testing proxygen as a potential replacement for a service that talk to many services in real time, and has to stick to very low latencies. So it imposes a short timeout on all downstream requests. Timeouts from some of those services are normal in my case, and are

[2017-03-03 17:38] afrind commented on #150
Regarding timeout on one transaction killing the connection: For HTTP/1.1, each request/response must complete in order for the connection to be reusable for the next request/response.  So if you timeout waiting for the response, you have no choice but to abort the connection.  For HTTP/2, the timed out transaction is individually aborted via RST_STREAM, and the connection continues to be reusable

[2017-03-03 17:53] michaelpog commented on #150
Oh, you're right!
I didn't think about the fact that if I don't kill the connection after the timeout, I may still get a response maybe later, which I don't want.
Thank you for clarifying that. I will try Http/2 later as well, currently I'm focusing on HTTP/1.1.

Regarding the race condition, I am aware of the fact that it's all in one even loop, but I was just worried that event will be in that o

[2017-03-03 17:57] afrind commented on #150
Oops I mistyped, I meant isReusable().  And we also check isClosing().

I've started asking the questions, but I don't have a timeline.  I'll update this issue when I have more info.

[2017-03-03 20:19] michaelpog commented on #150
Thank you!
I'm looking forwards for a update.
Meanwhile I'm having very strange issues with using  session->getNumOutgoingStreams().
In HTTPSession::InfoCallback::onDeactiveConnection when I check if session->getNumOutgoingStreams()==0 I'm getting different results between Release and Debug configuration.

I'm using cmake to compile my application.
When I compile in Debug mode, I'm getting session

[2017-03-03 21:37] afrind commented on #150
I'll try to repro as well

[2017-03-06 21:47] afrind commented on #150
Sorry, I wasn't able to repro this behavior using our build tools.  I took your patch and merged it into the proxy sample SessionWrapper (just the printing part).  I always get "Adding session back to pool" both with our internal build and with an ubuntu 14.04 build.

Can anyone else repro?  What happens if you attach the debugger to the opt build?

[2017-03-06 23:14] michaelpog commented on #150
Attaching the debugger to an optimized executable doesn't work. Compiling in Release, the debugger doesn't even hit the break point, and when compiling in RelWithDebugInfo, I hit the break point but can't watch any variables. So all I can do is print the result, and it's always 1. Except in Debug.

I'll try to create a small repo with just that issue soon.

[2017-03-07 06:56] michaelpog commented on #93
I just wanted to confirm. Folly uses libevent with select only on Windows? Or both Windows and Linux?
I would assume on Linux using epoll would be more efficient.

[2017-03-07 18:51] Orvid commented on #93
Linux uses epoll.

[2017-03-09 02:38] michaelpog opened #152 "High CPU usage with Proxygen"
I'm building a multi-proxy Http server, and I'm comparing two frameworks.
1) C++ Proxygen
2) Java Vertx.

Both frameworks are based on event loops so I built two prototypes and I expected the performance of Proxygen to be superior, since it's in C++, and is using so many of folly's optimizations.
However my application built with Proxygen is using much more cpu than the one I built with Java Vert.

[2017-03-09 08:12] patlecat commented on #93
I would appreciate if Proxygen was at least soon usable under Windows if only for development and testing purposes. It doesn't have to be very fast or efficient, but just to be compilable with GCC, CLang and MSVC at least.

[2017-03-09 18:43] michaelpog commented on #150
I've created a repo to show how I reproduce the issue I've described https://github.com/michaelpog/proxygen_proxyserver along with the output I'm seeing both in Debug and Release

[2017-03-09 21:07] dddmello commented on #152
Proxygen can be rebuilt by running ./deps.sh and ./reinstall.sh from within the proxygen dir.  On my local ubuntu vm debug symbols appear to already be present simply following the above instructions (i.e. can load up the folly/proxygen libs using gdb and can inspect debugging info in the wangle lib).

Was there something special the way folly/wangle/proxygen was built?

You should be able to remo

[2017-03-14 18:51] tedyu commented on #88
When would the context object be added as parameter ?

[2017-03-14 22:43] michaelpog commented on #152
Yes, you're right. The symbols were there. I was just using a sampling profiler and it did not see all symbols. But Valgrind does see all of them.
I've pretty much taken out all logic out of the http client IOThreadLoopExepcutor threads. I can't confirm with any profiler that I know of. But the CPU on these thread is very high on high Requests/sec.
I tend to think that there's some kind of content

[2017-03-15 15:49] afrind commented on #131
Closing due to lack of activity.  Please reopen if necessary

[2017-03-15 15:49] #131 closed

[2017-03-16 17:22] markhu opened #154 "need an autogen.sh to help autoconf configure"
The first time I tried running `autoconf` to generate the `configure` script, it failed with the below error.
Many other projects supply an `autogen.sh` script to help.

[code]

I happen to be trying to compile under CentOS6.7 and was able to get past the above by running

    $ sudo yum install autoconf268 autoconf-archive automake libtool cmake gcc-c++

...and am now slogging through the rest of

[2017-03-17 00:04] maxgeorg commented on #154
@markhu, thank you for giving Proxygen library a try!
Talking about autogen.sh, would proxygen/proxygen/deps.sh work for you?
deps.sh pulls proxygen dependencies from GitHub, autoconfigs them and builds them, does the same for proxygen library itself. As part of that process deps.sh runs 'autoreconf -ivf' to generate proxygen/proxygen/configure. You can find more details in proxygen/README.md.
Doe

[2017-03-17 00:16] maxgeorg commented on #154
BTW which OS did you try it on?

[2017-03-20 17:27] markhu commented on #154
I was trying to build under CentOS 6.5 so the Ubuntu-specific deps.sh could not work.
I tried making a deps-centos.sh per https://github.com/facebook/proxygen/pull/155 which got further before stalling out on https://github.com/facebook/folly/issues/564

[2017-03-21 12:52] GuacheSuede commented on #77
@jamperry Hey James,could you post your routing example here ? Thank You, Justin

[2017-03-22 10:48] abogani opened #156 "Add SSE support"
https://www.w3.org/TR/eventsource/

[2017-03-22 19:17] dddmello commented on #152
Nothing specific that I'm aware (in regards to a spin lock).  Generally the server waits in the event loop for things to occur and that shouldn't be spiking the CPU.

Would you be able to attach a perf profile and/or a repro?  Does the profiling correctly account for child functions?  I know you mentioned you stripped most of the logic out of the http client threads but also curious whether this i

[2017-03-23 19:58] michaelpog commented on #152
I was, I kind of isolated it somewhat.
The profiler wasn't particularly helpful since it was showing me that most of the time is spent in my code, but when I took my code out completely, it didn't matter.
I am pretty confident it's the combination of the spin lock in the IOThreadLoopExecutor (The one you hit when you call add) and the spin locks of the queues. I changed my architecture from having

[2017-03-27 21:30] AdamDailyMotion commented on #152
I guess it depends on how many cores you are running and how much traffic you are pumping through the system. I've benchmarked the system running 8 cores just running the echo sample at 50% sending 40K messages per second. Do you have a branch you'd like us to look at?

[2017-03-28 17:41] cjhawley opened #158 "HTTP2/ssl errors"
Hi,

I am trying to call the sample EchoServer with HTTP2 using curl

`curl -vkI --http2 https://localhost:11002`

and am receiving the following error:

[code]

The logs on the server are:

[code]

setting up proxygen via Docker, on latest master.

Any ideas? I've been trying to work on it for a bit, but haven't had any leads.

Thanks!
Chris

[2017-03-29 17:44] michaelpog commented on #152
So my work load is 1 incoming request turns into 32 outgoing requests. I was able to do 2100 incoming requests/sec which means it's 67200 outgoing requests/responses per second. And the CPU is around 620% on 8 cores so that would be 77.5% overall.
I don't know how to compare it to the echo server experiment you just mentioned.
I don't have a branch right now that I  can share with you, however it

[2017-03-29 20:47] lnicco commented on #158
@cjhawley the sample server is not doing SSL, so that port expects an upgrade on cleartext.

With Curl you can get that by using the `--http2-prior-knowledge` option

[code]

I am using latest curl: curl-7.53.1

[2017-03-29 20:47] #158 closed

[2017-03-29 23:15] cjhawley commented on #158
Thanks!

Also, I should have looked more closely to the issues -- this enables ssl on the sample server: https://github.com/facebook/proxygen/issues/65

[2017-03-31 12:16] abogani commented on #158
@lnicco Is there an example on how add support for the upgrade on cleartext?

Thanks!

[2017-04-03 07:39] diorahman opened #159 "Example on consuming external web service within request handler"
Hi,

It is common to have code that consumes external web service within the request handler. Can we have an example on this case? E.g. call one of the APIs of https://openweathermap.org/api with non-blocking fashion within the request handler, then send back the response from the API to the client.

Thanks!

[2017-04-03 16:06] afrind commented on #158
See proxygen/httpclient/samples/curl with the -h2c option

From: Alessio Igor Bogani <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Date: Friday, March 31, 2017 at 5:16 AM
To: facebook/proxygen <proxygen@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [facebook/proxygen] HTTP2/ssl errors (#158)

@lnicco<https://github.com/lnicco> Is

[2017-04-03 19:58] Memnarch opened #160 "how to properly static link or simple steps to get all shared libs"
Hi,
I started working with proxygen(in Netbeans), and my project is going fine sofar. However, I'd like to zip it up to let it run on another machine, and i can't static link(as it seems?).

[2017-04-04 07:23] abogani commented on #158
@afrind Unfortunately Proxygen (as server) doesn't upgrade to h2. I have tried with Chrome and Firefox browsers, curl and samples/curl (https://groups.google.com/d/msg/facebook-proxygen/kI89bZSe3sE/mJ3oP3YaAQAJ). I don't figured out yet what I have done wrong.

[2017-04-04 07:36] abogani commented on #160
I have just tested it and Proxygen could be statically linked. Dependencies are out of control of the Proxygen developers but in charge of respective authors or distribution packagers. IMHO This issue should be closed.

[2017-04-04 11:33] Memnarch commented on #160
I guess when linking static, i'd have to reference the libs those static libs use as static, too? Because i failed to get the symbols resolve correctly. I am sure i did something wrong, then.

Right now i am linking to

proxygenHttpserver, folly, GFlags, GLog
(PThread too, but that's a systemlib)

[2017-04-04 20:20] patrick-hallinan opened #161 "Latency spikes"
We've started using proxygen and are very happy with the latency numbers most of the time but when we are at a high load (like 1000 messages/second) we see latency spikes.  We've tested with your reference echo server and we see the spikes with that alone.  The spikes happen infrequently but regularly (like 0.01% of the time).  Do you know if this is expected behavior?

[2017-04-04 23:04] afrind commented on #158
Proxygen’s sample echo server is configured to perform plaintext upgrade when requested.

EchoServer.cpp:78:  options.h2cEnabled = true;

Run curl -http2 http://localhost:11000 to see it in action.  Maybe the push sample doesn’t enable plaintext upgrade?

From: Alessio Igor Bogani <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Date: Tuesday, April 4, 2017 at 12:23

[2017-04-05 12:20] abogani commented on #158
@afrind I'm not be able to make protocol upgrade works with Proxygen: none of the sample does the tricks for me with and without SSL, h2cEnabled and allowInsecureConnectionsOnSecureServer. So no HTTP2 here.

`curl -kv --http2 https://localhost:11002` says:
[...]
* ALPN, offering h2
* ALPN, offering http/1.1
[...]
* ALPN, server did not agree to a protocol <---- This is odd!
[...]

[...]
< HTTP/1.1

[2017-04-05 16:44] plartem opened #162 "Problems with httpserver push sample"
After running push sample and using
`curl -v http://localhost:11000/`
I get this error
`F0405 16:42:26.128540 19430 PushRequestHandler.cpp:42] Check failed: folly::readFile(kPushFileName.c_str(), gPushBody) Failed to read push file=proxygen/httpserver/samples/push/pusheen.txt
*** Check failure stack trace: ***
    @     0x7f4e9cd05daa  (unknown)
    @     0x7f4e9cd05ce4  (unknown)
    @     0x7f4e

[2017-04-05 16:47] afrind commented on #162
Looks like the push file (pusheen.txt) is not present at that path relative to your CWD.  Update the path in the code or run from a different directory?

From: Artem Hryn <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Date: Wednesday, April 5, 2017 at 9:45 AM
To: facebook/proxygen <proxygen@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject:

[2017-04-05 17:05] plartem commented on #162
@afrind sorry, my bad, hadn't noticed that 🤦‍♂️ . I changed path, recompiled, used curl again and now it stucks here (!downstreamPush_ is true and onRequest stops executing)
[code]
how can I fix this?

[2017-04-05 17:08] afrind commented on #162
Probably push is not enabled from your client.  Either it is not HTTP/2 or it is not enabling push in the settings frame.

But that looks like a bug in the server.  We should probably continue building the original response even if push is not enabled.  Want to submit a PR?

From: Artem Hryn <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Date: Wednesday, April 5, 2

[2017-04-05 17:21] afrind commented on #158
Port 11000 is http/1.1, cleartext – this is the one you can do upgrade on, run curl -http2 http://localhost:11000
Port 11002 is normally cleartext http/2 – you can only curl this with --http2-prior-knowledge

If you are using TLS (looks like you are) then you have to negotiate H2 with an ALPN token, and you cannot upgrade.  You probably need to call setNextProtocols on your SSLContextConfig.

As f

[2017-04-05 17:23] plartem commented on #162
@afrind push increases Request-Number, but don't return any body
[code]

[2017-04-06 21:42] afrind commented on #162
Yes you are right.  A response is returned from onEOM.

[2017-04-12 03:09] set-daemon opened #164 "configure error in release 2017.04.03.00"
after executed "autoreconf -ivf", it generates file configure, in which a line "AX_PREFIX_CONFIG_H(proxygen-config.h, proxygen, config.h)" seems to be generated wrongly.
so i delete it and execute "./configure" again, it works successfully.
i'm wondering whether anyone else has encountered the same problem?

[2017-04-12 14:01] sicmy opened #165 "TestSuite fail in WSL(ubuntu 16.04)"
build is succeeds, but the testsute is fail.

Making check in httpserver
make[1]: Entering directory '/srv/widerplanet/wp_ase_v3/libs/proxygen/proxygen/httpserver'
Making check in .
make[2]: Entering directory '/srv/widerplanet/wp_ase_v3/libs/proxygen/proxygen/httpserver'
make[2]: Nothing to be done for 'check-am'.
make[2]: Leaving directory '/srv/widerplanet/wp_ase_v3/libs/proxygen/proxygen/https

[2017-04-12 17:39] dddmello commented on #165
Hi - is WSL here referring to 'Windows Subsystem for Linux'?

Anyhow I just fresh installed an ubuntu 16.04.2 image and built proxygen with no problem - including the running of associated unit tests.

If this is indeed a problem specific to the use case when running from WSL as defined above, this is not technically supported.  I do not believe we have the resources to actively validate such a co

[2017-04-12 17:59] dddmello commented on #164
Tried to reproduce but unable too.

./deps.sh calls 'autoreconf -ivf' and './configre' right after it every time before building proxygen.  I tried running the command manually as well and the configure file that was generated looks correct and does not appear to contain any line resembling the above.  I was testing on ubuntu 16.04.2.

If there is more information are you have more details to help

[2017-04-13 01:18] sicmy commented on #165
thankyou~!!

[2017-04-13 01:18] #165 closed

[2017-04-21 06:18] abogani commented on #156
It is perfectly capable of handle SSE.

[2017-04-21 06:18] #156 closed

[2017-04-23 15:34] GuacheSuede opened #166 "How does one retrieve GET params from GET request ? Thank You"

[2017-04-24 15:39] afrind commented on #166
See HTTPMessage::getQueryParameter

[2017-04-24 15:39] #166 closed

[2017-04-25 16:15] afrind commented on #162
Curl doesn't really seem to know what to do with a push, but I can see the sample server initiating a push and curl resetting it:

 ./buck-out/gen/proxygen/httpserver/samples/push/push_server  -v 4

 curl -vvv --http2-prior-knowledge -H "X-PushIt: True"  http://localhost:11002/ > /tmp/r

From the server's output:

I0425 09:09:20.459095 105743 PushRequestHandler.cpp:72] sending small push
V0425 09:

[2017-04-25 16:15] #162 closed

[2017-04-25 16:20] afrind commented on #161
Can you be more specific about the latency spikes?  Is a single request affected or multiple requests during the spike?  What is the amplitude of the spike?  What client are you using to reproduce against the echo server?  Is it possible other resources are being contended on the client or server machines?

[2017-04-25 17:12] patrick-hallinan commented on #161
Sorry for not getting back to this.  We determined that proxygen was not the issue.

[2017-04-25 17:12] #161 closed

[2017-04-25 17:18] afrind commented on #159
The proxy example is similar to this, except instead of forwarding the original HTTP message, you would just create a new one.

eg: from onRequest, or onEOM, you would use the HTTPConnector to establish a new session, from there create a new transaction and send your request.  The Handler object will receive the response and you can process it how you like.  If you stream it directly to the client

[2017-04-25 17:18] #159 closed

[2017-04-25 17:21] afrind commented on #154
Thanks for you work trying to build deps-centos.sh.  Is the plan to move forward with that, and if so is this issue still blocking that effort?

[2017-04-25 17:24] afrind commented on #152
Is your proxy using TLS or plaintext?  OpenSSL has some silly locking conventions that can slow things down.

[2017-04-25 17:48] markhu commented on #154
I'm stalled on trying to make it work for CentOS 6. It should be easier under CentOS 7, but my company's Ops department doesn't support that yet.
Anyone is welcome to take over after PR #155 as I have no time to pursue this.

[2017-04-25 18:45] afrind commented on #150
I don't suppose you were able to figure this one out?  I really can't see what's going on that would cause a simple integer to report wrong in release builds.  Any chance you can try with a different compiler?

[2017-04-25 21:16] michaelpog commented on #152
plaintext

[2017-04-25 21:38] afrind commented on #152
Just hitting the echo server now (which sends empty response bodies), I'm able to get full CPU saturation over plaintext with 8 cores, running over localhost, with 491k RPS plaintext HTTP/2.  I made a small tweak to send 12k body bytes back as well, and I still get full saturation and 335k RPS.  I'm not seeing a non-CPU bottleneck. This is on a 48 core Intel Xeon CPU E5-2678 v3 @ 2.50GHz.

This is

[2017-04-25 21:45] michaelpog commented on #152
Yeah, it's hard to compare. I implemented my own connection pool, thanks to your prior help. And I am maintaining connection to my downstream services. I do set an aggressive timeout and the downstream services do timeout sometimes, which is fine, it's part of what I was trying to simulate. No DNS resolution.
I've currently stopped my experiments. I hope if I have more time in the future to get ba

[2017-04-25 21:49] afrind commented on #152
I'm going to close this out for now then.  If you do come up with a repro you can share, please let us know.

[2017-04-25 21:49] #152 closed

[2017-04-26 15:31] nginxsantos opened #167 "Not able to compile this with GCC version 4.9.2."
I heard from this forum that C++14 is required to compile this and C++14  comes with gcc version 6.0 and have a restriction of going to gcc version 6.0 which comes with debian 9.

Any help?

[2017-04-27 02:42] Orvid commented on #167
GCC 4.9 should be sufficient to compile Proxygen, and will continue to be supported for at least the next year. What error are you seeing?

[2017-04-28 05:42] badarihp commented on #167
Hi,
 One of the issue I am facing is
$ ./configure
./configure: line 2672: syntax error near unexpected token `proxygen-config.h,'
./configure: line 2672: `AX_PREFIX_CONFIG_H(proxygen-config.h, proxygen, config.h)'

Not sure how to resolve this, getting this error on latest release build of proxygen.

[2017-05-04 04:08] mmlac opened #168 "Support OpenSSL 1.1.0"
In order to support OpenSSL 1.1.0, configure.ac needs to use `OPENSSL_init_ssl` instead of `SSL_library_init`.

Just replacing it worked for me, but I don't know enough about autoconf to make a switch like shown below to support both.

It builds with this change and seems to compile my project, but I have not done any deeper validation, so there might be more impact within the proxygen codebase.

[2017-05-05 05:48] GuacheSuede opened #169 "Could a http server with paths example be provided ?"
A typical web server like, serves html files and does data retrievals typically of a server project

 Thank You

[2017-05-05 16:48] w-o-o commented on #169
Hello @GuacheSuede ,  did you check out [the sample http server](https://github.com/facebook/proxygen/blob/master/proxygen/httpserver/samples/echo/EchoServer.cpp)? this seems close to your request.   If this is not sufficient, let us know what you are interested.

[2017-05-05 16:53] w-o-o commented on #168
interesting, proxygen relies on folly for SSL operations.  Besides the autoconf, do we also need to update folly part https://github.com/facebook/folly/blob/master/folly/io/async/SSLContext.cpp#L848?

[2017-05-05 16:56] w-o-o commented on #164
@set-daemon could you paste the complete command line and error message,  also attach the system environment info? like OS, kernel, compiler and linker version.

[2017-05-05 17:10] anirudhvr commented on #168
Folly already compiles and runs fine with 1.1.0.

@mmlac I'm not sure why SSL_library_init is a problem because 1.1.0 does this
# define SSL_library_init() OPENSSL_init_ssl(0, NULL)

[2017-05-05 18:04] mmlac commented on #168
I am not quite sure, I updated my Arch box and could no longer build proxygen without this change in the `configure.ac` file. Folly / Wangle built fine without any changes. Folly also uses CMake, so their detection algorithm might be different than Autoconf? (sorry, not very versed with C++ build systems)

[2017-05-05 18:33] Orvid commented on #168
Folly only uses CMake on Windows. It's autoconf for everything else :)

[2017-05-06 14:06] GuacheSuede commented on #169
Hi @w-o-o ,
I think these 3 points would be sufficient to allow a more complete example

- Routing
- File Serving
- JSON Returns (Not important)

[2017-05-17 02:11] badarihp opened #171 "Crash while running EchoServer (built with g++ 4.9.2)"
Hi,
 Got Crash while trying to start EchoServer compiled with g++ 4.9.2 .

Program terminated with signal SIGSEGV, Segmentation fault.^M
#0  construct<wangle::IOThreadPoolExecutor, unsigned long&, std::shared_ptr<wangle::NamedThreadFactory> > (__p=0x3463e80, this=<optimized out>) at /usr/include/c++/4.9/ext/new_allocator.h:120^M
120             { ::new((void *)__p) _Up(std::forward<_Args>(__args).

[2017-05-17 06:54] badarihp commented on #167
I faced a crash ... while trying to start EchoServer which is compiled with gcc 4.9.

Program terminated with signal SIGSEGV, Segmentation fault.^M
#**0  construct<wangle::IOThreadPoolExecutor, unsigned long&, std::shared_ptr<wangle::NamedThreadFactory> > (__p=0x3463e80, this=<optimized out>) at /usr/include/c++/4.9/ext/new_allocator.h:120^M
120             { ::new((void *)__p) _Up(std::forward<_A

[2017-05-20 01:47] zj5121 opened #172 "failed to compile with openssl-1.1.0"
OS: arch linux
Openssl; 1.1.0

Failed to run ./configure, because SSL_Library_init is replaced by OPENSSL_Library_init.
although SSL_Library_init is defined as a macro to OPENSSL_LIbrary_init in libssl, but the configure script tried to declare it as an extern function!

[2017-05-20 15:17] lnicco commented on #172
Hi @zj5121,
We currently support Ubuntu only (with CentOS in the works thanks to a Pull Request).

That being said, if you could please post here the full error message we can try to help you in case is only related to openssl

[2017-05-20 15:19] lnicco commented on #171
thanks for reporting this crash @badarihp I will need to reproduce it first, so if you could share the build command you used that will help

[2017-05-20 15:22] lnicco commented on #167
@nginxsantos any update ? you mentioned having troubles to build proxygen with gcc 4.9.2, is that still true ? do you have any update, or can you share a log of the build error ?

@badarihp your issue is a runtime issue, let's handle it separately from this one
https://github.com/facebook/proxygen/issues/171

[2017-05-21 02:38] zj5121 commented on #172
Sorry, it should be OPENSSL_init_ssl in new openssl lib, if I changed configure.ac from SSL_library_init to OPENSSL_init_ssl, it's ok.
I'm not so deeply know how auto-tools works, if there is a way to 'OR' the cases of old or new version of openssl, that should be better.
Thanks!

[2017-05-21 14:53] badarihp commented on #171
Hi ,
 I used following command to build the echo server:
g++ -std=c++14 -lcurl -lproxygenhttpserver -lfolly  -lglog -lgflags -pthread  -g $ALL_SRC

[2017-05-22 07:31] lnicco commented on #171
thanks @badarihp, I am trying to reproduce the issue locally with no success.
I am on
Ubuntu 14.04.5 LTS,
gcc 4.9.4-2ubuntu1~14.04.1
Is upgrading an option for you ?

[2017-05-22 22:02] anirudhvr commented on #172
@zj5121 Thanks for pointing this out. @lnicco @afrind can we just change the check to SSL_accept() or somesuch that exists on all OpenSSL clones? Even SSLeay_version() is a macro in 1.1.0

[2017-05-24 04:23] badarihp commented on #171
We were able to narrow down the issue, in our environment each thread has limited stack space, so creating the HTTPServerOptions and HTTPServer objects on the stack was leading to this issue.

[2017-05-24 04:23] #171 closed

[2017-05-24 04:41] lnicco commented on #171
thanks @badarihp!
sorry I couldn't reproduce that, so I wasn't that much of a help.

perhaps next time, attaching a core dump could help us troubleshooting.
glad it's fixed

[2017-05-24 05:18] anirudhvr commented on #172
@zj5121 can you check if another non-macro function such as 'SSL_SESSION_new' works instead of SSL_library_init with 1.1.0?

[2017-05-24 06:12] #172 closed

[2017-05-24 06:16] lnicco commented on #172
@zj5121, based on a discussion with @anirudhvr we agreed that using SSL_SESSION_new should fix the build for openssl 1.1.0 and keep it all working for previous versions.

please reopen this issue in case that's not working

[2017-06-06 12:26] vinniefalco opened #173 "CONNECT method has defined body?"
According to
[code]

`BodyAllowed` is `DEFINED` for `HTTPMethod::CONNECT`. But, from https://tools.ietf.org/html/rfc7231#section-4.3.6

Why does proxygen treat the payload as defined?

[2017-06-11 22:57] GuacheSuede opened #174 "How does one serve static files through proxygen, quick short example would help. Thanks"

[2017-06-13 02:20] maxgeorg commented on #174
GuacheSuede, your request sounds similar to https://github.com/facebook/proxygen/issues/169.
Just to clarify: would it be helpful to implement a sample server configured with a path to a folder, and serving static files from this folder based on the request path?

[2017-06-13 08:01] GuacheSuede commented on #174
Yes absolutely and templating if possible been an issue here and on the forums google group and here for a while(a year), could not find a example

[2017-06-21 00:38] maxgeorg commented on #173
@vinniefalco, thank you for reporting this problem! The fix should be on GitHub by now.

[2017-06-21 00:50] vinniefalco commented on #173
Glad I asked!

[2017-06-21 00:52] vinniefalco commented on #93
@patlecat Try this https://github.com/vinniefalco/Beast/

[2017-06-26 11:55] patrick-hallinan opened #178 "folly::init()"
We don't know if we have an issue or not but a couple of month ago we started segfaulting when we called out to upstream servers in a request handler.  The segfault was from folly logging a fatal error and saying that we probably weren't calling folly::init().  This is the folly code :

https://github.com/facebook/folly/blob/master/folly/Singleton-inl.h#L233-#L247

So we added a call to folly::ini

[2017-06-26 23:40] w-o-o commented on #173
@vinniefalco  could you close the issue if it is fixed?

[2017-06-26 23:42] w-o-o commented on #178
@patrick-hallinan ,  can you paste a stack trace?  Eyeballing the source code is difficult.

[2017-06-27 00:08] #173 closed

[2017-06-28 01:07] ikobzar commented on #178
Just making sure you run ./deps.sh && ./reinstall.sh in case if you rebased proxygen.

[2017-06-28 17:49] patrick-hallinan commented on #178
What I did was create a new virtual machine with Ubuntu 16.04 and did a fresh install of everything.

[2017-07-01 21:40] voznesenskym opened #179 "Consider removing ./deps.sh reliance on sudo"
I would prefer to leave sudo behind, as we plan on using proxygen within a docker container. While I could always apt-get it, it seems closer to a hack then a real solution.

[2017-07-04 22:51] cypherpu commented on #174
I'm not sure what level of sophistication is requested, but it would seem natural to save httpMessage in RequestHandler::onRequest, and then extract the path and select different responses in RequestHandler::onEOM(). Here is an example from my project:

[code]
I am uncertain how to send a static file with asynchronous IO. AIO in linux is impaired, I am told.

I have had good performance using bloc

[2017-07-05 21:21] Maktm opened #180 "Git Submodules"
Since proxygen uses folly and wangle as dependencies, wouldn't it be easier to include them as submodules into the project? A simple command such as:

`git clone --recursive https://github.com/facebook/proxygen.git`

would pull all the required dependencies?

I noticed the files folly-rev.txt and wange-rev.txt under build/deps/github_hashes/facebook but I was under the impression that everything u

[2017-07-06 17:38] dddmello commented on #180
Sounds like a good idea and something I'll look into.  For now those *-rev.txt files linked are auto updated and so things are kept in sync automatically and is a system I believe other open sourced Fb projects buy into.

[2017-07-10 06:08] corndolly opened #181 ""Send in chunks" will cache all chunks in memory?"
I send one big file to client in chunks with send() and sendWithEOM() in ResponseBuilder.

After read one chunk in file, i will send it immediately with send().
But i found that the whole file content will be cached in memory after call send().

Is it a bug here?

[2017-07-10 21:09] dddmello commented on #181
Hmm took a look and I see what you are saying:

ResponseBuilder.h:102 appears to chain the chunks.  Will get back to you.

[2017-07-10 23:46] suspend0 commented on #181
ResponseBuilder.h#L157 (in send) seems to clear the chain tho'

[2017-07-10 23:49] dddmello commented on #181
Yeah - corndolly would you be able to provide some sample code to make it clearer what behavior you are seeing that is not expected?

[2017-07-11 08:24] gitpfbc opened #182 "Does proxygen support Solaris ?"
Hello,

I wonder if proxygen can be used on Solaris?
If not, do you plan to support it?

Best regards

[2017-07-13 10:25] byronhe opened #183 "wrong implementation on " stream dependent on a not exists parent""
see
https://github.com/http2/http2-spec/issues/764

[2017-07-17 19:04] patrick-hallinan commented on #178
This is the stack trace:

I0717 15:03:39.950933  1121 RequestHandler.cpp:64] onEOM()
I0717 15:03:39.951020  1121 RequestHandler.cpp:110] onEOM() Send Requests
F0717 15:03:39.951210  1121 Singleton-inl.h:241] Singleton N5folly21ThreadWheelTimekeeperE requested before registrationComplete() call.
This usually means that either main() never called folly::init, or singleton was requested before main()

[2017-07-21 08:02] Maktm opened #184 "Ubuntu 14.04 Installation Failure"
Hi,

I'm trying to set up proxygen on an Ubuntu 14.04 VPS but I get the following error messages when running `./deps.sh` with gcc 4.8.4:

        In file included from ./../folly/Assume.h:21:0,
                        from Assume.cpp:17:
        ./../folly/Portability.h:53:5: error: 'max_align_t' is not a member of 'std'
            std::max_align_t,
            ^
        ./../folly/Portability.h

[2017-07-21 08:04] afrind commented on #184
This looks like problems building folly.  Can you check in that project?

[2017-07-21 08:12] lnicco commented on #184
also, try upgrading to gcc 4.9. it should fix your issues.
the Travis CI for ubuntu 14.04, gcc 4.9 is passing just fine:
https://travis-ci.org/facebook/proxygen/builds/255905427

[2017-07-21 08:13] lnicco commented on #184
Yeah, folly requires gcc 4.9 https://github.com/facebook/folly/commit/7bdb20f850299dc14045ef9e00b8b90a1dce17b7

[2017-07-21 08:13] #184 closed

[2017-07-21 18:28] afrind commented on #174
The static sample server has landed.

[2017-07-21 18:28] #174 closed

[2017-07-21 18:36] afrind commented on #169
check out the static webserver example.  I'm not sure exactly what you mean by routing here.  If you mean you want to proxy a request to another server, see the proxy example.  Feel free to reopen here if it's still unclear.

[2017-07-21 18:36] #169 closed

[2017-07-21 18:37] afrind commented on #182
We don't currently support Solaris and it's not in the immediate plans.  Feel free to send PRs and we will take a look.

[2017-07-21 18:37] #182 closed

[2017-07-28 13:31] nginxsantos opened #185 "Proxygen Performance"
Hi,

I am using the asynchronous communication, receiving the message and distributing to backend. But, with log disabled, I am not getting the number beyond 900RPS, although my CPU and Memory usage does not go high. I don't know where is the issue.

I also looked at some online blog and it seems they also got numbers what I got.

https://engineering.instagram.com/c-futures-at-instagram-9628ff634f

[2017-07-28 13:31] #167 closed

[2017-07-28 13:31] nginxsantos commented on #167
I was able to do so.Thanks.

[2017-07-31 18:15] nginxsantos commented on #185
Any thoughts on this?

[2017-08-01 00:34] AdamDailyMotion commented on #180
on the same topic, I wanted to clone proxygen so I would have a stable release which I've checked and would not have different code running between different machines. The problem is that the deps script pulls the latest of folly, wangle and other libraries which defeats the whole purpose of my clone.
Any ideas how to solve this?

[2017-08-02 05:30] jitendrabhalothia commented on #96
Add this step while building the docker file as a root and install apt-get install sudo

[2017-08-03 09:33] set-daemon opened #186 "Is there any detailed documentation?"
Hi,
Is there any code analysis on proxygen? I'm wondering about and trying to find out how does proxygen work, now i just known there are two group threads working undergroup, one is acceptor thread group, another is io thread group, but don't known the communication within them, and more unknowns. Maybe it's hard to me, so seek for your help.

[2017-08-05 14:06] cypherpu opened #187 "Initializer Lists for HTTPHeaders"
Would it make sense to have initializer lists for HTTPHeaders? It might be more clean than building up headers from add(...).

[2017-08-07 16:45] afrind commented on #185
It's difficult to say without seeing your code, can you paste a snippet?  I'd say what's most likely is that you are tying up the i/o thread waiting for the response which is preventing the thread from servicing other new connections/requests.

[2017-08-07 16:49] afrind commented on #180
@AdamDailyMotion : you could locally modify the deps script to pin it to the folly/wangle head revisions.  I realize it's not ideal.

[2017-08-07 16:57] afrind commented on #186
Well, there's not detailed documentation, and we'd like to improve it, but for now it's pretty ad hoc.

To answer your question, the acceptor group accepts new connections and load balances them to the IO threads.  Once a connection has been picked up by an IO thread it will be serviced there for its entire lifetime.

I'll leave this open if you have other specific questions I can answer.  Maybe w

[2017-08-07 17:09] afrind commented on #187
Good idea. We'll see what we can do, or send a PR?

[2017-08-08 09:49] set-daemon commented on #186
Thanks @afrind, so the operation read/write on this connection is done in IO thread?
I'm reading the code of proxygen/wangle/folly, it may last for a long time, any questions will be submitted here for help, and thanks again.

[2017-08-08 16:24] afrind commented on #186
Yes all socket operations are done from the I/O thread in a non-blocking fashion.

[2017-08-08 16:42] dddmello commented on #181
Going to close as haven't heard anything back.

[2017-08-16 06:20] voznesenskym commented on #179
Ill do it this weekend. Maybe fix the mac stuff while we are at it.

[2017-08-18 17:46] zhi-zhao-dailymotion opened #189 "http client performance issue? ('Invalid transition tried: EOMQueued sendHeaders')"
Hi,
We're using the http client, it works fine with rps < 500, however, once the rps goes above 800, we start seeing the following error msg:
E0816 StateMachine.h:31] Invalid transition tried: EOMQueued sendHeaders
F0816 HTTPTransaction.cpp:712] Check failed: HTTPTransactionEgressSM::transit( egressState_, HTTPTransactionEgressSM::Event::sendHeaders)

below are some of the call traces:
    @     0

[2017-08-25 04:03] portsip commented on #168
@Orvid does proxygen support windows now ?

[2017-08-28 20:17] afrind commented on #189
This means that you are trying to call sendHeaders after you have already called sendEOM.  I'm not sure why it would only be happening for you at high RPS, but it's very likely a logic bug in your handler.  Perhaps you can paste some code of how your handler is generating the reply?

[2017-08-31 09:45] corndolly commented on #181
Sorry to be late,  the sample code is like below (I want to implement "download file" with proxygen)
[code]

[2017-08-31 15:13] dddmello commented on #181
So correct me if wrong but I see a couple of issues:

1) Seems like you are using a new instance of RpBuilder in each iteration of the while loop which I'm not sure you should do as in the future I can see the class being extending to track some state.
2) Eyeballing I'm confused how bufferLen is being set on each iteration.  It looks to me like on first iteration bufferLen == ::lseek(fd, 0, SEEK_E

[2017-08-31 16:11] suspend0 commented on #181
https://github.com/facebook/proxygen/blob/master/proxygen/httpserver/ResponseBuilder.h#L112

[code]

In the code posted by @corndolly `buffer` is a standard string, and it's passed to `ResponseBuilder::body(T&&)` -- that method makes a copy of buffer.

In my read of the code, the leak is not in proxygen; it's that `std::string buffer` is outside the loop, and only appended to.  Resetting the buffe

[2017-09-01 03:02] corndolly commented on #181
Thanks! @suspend0 @dddmello
I follow the @suspend0  suggestion with std::unique_ptr<folly::IOBuf>,  and the issue has been fixed now.

[2017-09-01 03:33] corndolly commented on #181
Sorry,  i found another issue,  i change the code like below,  but found the data received is NOT the same with  the original data.
If i use `folly::IOBuf::copyBuffer` instead of `folly::IOBuf::wrapBuffer`,  everything is OK.
`send` method will send the content synchronously?

[code]

[2017-09-01 15:57] suspend0 commented on #181
As far as I know, send() is not synchronous.  If you look a the impl in ResponseBuilder and the http layer (this is all from memory) it looks like it is, but deeper down when you actually get to the async socket impl it could queue the send request.  You must give ownership of the buffer to send()

You could replace `char buffer[]` with an `IOBuf`, read directly into the buf and then std::move() i

[2017-09-01 23:33] lnicco commented on #127
closing this since as @afrind said we do not have plans to support "google QUIC"

[2017-09-01 23:33] #127 closed

[2017-09-04 03:56] corndolly commented on #181
Got it.  Thanks @suspend0 for your explain.

[2017-09-04 03:56] #181 closed

[2017-09-12 11:52] EdXu opened #191 "autoreconf failed: possibly undefined macro: AC_MSG_ERROR"
configure.ac:43: error: possibly undefined macro: AC_MSG_ERROR
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
autoreconf: /usr/bin/autoconf failed with exit status: 1
[root@pingzilao proxygen]# autoreconf -ivf
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force
autorec

[2017-09-18 03:40] signifox commented on #143
@abhiguru
Hi, guys,
I have encounter same problem when i use fbthrift.
I wonder how you solve this problem.

==131382==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7f9c58bd8488 at pc 0x571e1d bp 0x7f9c58bd8400 sp 0x7f9c58bd83f8
READ of size 8 at 0x7f9c58bd8488 thread T166 (worker-pri3-40)
        #0 0x571e1c in folly::fbstring_core<char>::size() const cpp3rdlib/folly/include/folly/F

[2017-09-22 02:56] jenenliu opened #192 "successful built proxygen, but failt to make echo."
Hi, I've build proxygen ok, but when I run this command to buid echo.
`g++ -std=c++14 -o my_echo EchoServer.cpp EchoHandler.cpp -lproxygenhttpserver -lfolly -lglog -lgflags -pthread `

I got this error:
`In file included from /usr/local/include/proxygen/lib/http/codec/compress/HeaderTable.h:13:0,
                 from /usr/local/include/proxygen/lib/http/codec/compress/HPACKContext.h:13,

[2017-09-22 03:56] jordandong commented on #192
you need gcc4.9 +

Best,
Dong

On Thu, Sep 21, 2017 at 7:56 PM, Huanjie Liu <notifications@github.com>
wrote:

[2017-09-22 04:05] jenenliu commented on #192
@jordandong
seem it is, gcc version
`gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
`

[2017-09-22 15:44] afrind commented on #192
Yes, we missed a makefile change in a diff last week.  Fix coming.

[2017-09-22 20:14] afrind commented on #192
Please pull and try again.  Reopen if still an issue.

[2017-09-22 20:14] #192 closed

[2017-09-22 20:15] afrind commented on #189
Since I haven't received a repro and paste of your code, closing for now.  Please reopen if you have more for us to look at.

[2017-09-22 20:15] #189 closed

[2017-09-22 20:16] afrind commented on #187
Closed by commit e4f5aa88

[2017-09-22 20:16] #187 closed

[2017-09-22 20:17] afrind commented on #185
Closing since we don't have any additional input to comment on.  Please reopen if you have a repro or code you would like us to look at.

[2017-09-22 20:17] #185 closed

[2017-09-25 06:41] jenenliu commented on #192
@afrind it works now, thanks a lot.

[2017-09-26 15:41] zhi-zhao-dailymotion opened #193 "Does proxygen have HTTP/2 client support?"
Hi,
I'm trying to use proxygen as an HTTP/2 client if possible.

I tried to use the curl client from proxygen/httpclient/samples/curl and send request to the h2_port 11002 of the echo_server from proxygen/httpserver/samples/echo/.

The curl client gives error:

And the echo_server gives error:

00000000  47 45 54 20 2f 20 48 54  54 50 2f 31 2e 31 0d 0a  |GET / HTTP/1.1..|
00000010  55 70 67 72 61

[2017-09-26 15:49] afrind commented on #193
Yes proxygen has supported HTTP/2 for several years.

There are three ways to use HTTP/2:

1. Connect to a TLS server and use the h2 ALPN token
2. Connect to a plaintext HTTP server and use h2c Upgrade
3. Connect to a plaintext HTTP/2 server with prior knowledge

The echo server port 11002 is like 3).  You need to use the curl client --plaintext_proto argument to connect to it.  Or you can use -h2

[2017-09-26 15:49] #193 closed

[2017-09-27 17:12] w-o-o commented on #191
@EdXu please provide the compiling environment, like OS version

here is some info you can refer, https://www.gnu.org/savannah-checkouts/gnu/autoconf/manual/autoconf-2.69/html_node/Printing-Messages.html

[2017-09-27 17:30] w-o-o commented on #183
fyi, we are working on the fix

[2017-10-03 12:51] erezzi commented on #191
I'm trying to build proxygen on CentOS 7 with the deps-centos.sh script. I had to fix a few issues in that script. Will push them upstream once I'm able to build proxygen.

The fixes so far are in the following patch file:
[centos_fixes.patch.gz](https://github.com/facebook/proxygen/files/1352248/centos_fixes.patch.gz)

I ran deps-centos.sh and failed while building folly. Then, I deleted the foll

[2017-10-05 19:04] maxgeorg commented on #178
@patrick-hallinan, according to the stack you posted, there is some code in ConnManager::RequestHandler::onEOM() is trying to instantiate a Timekeeper singleton from folly. These days folly singleton infrastructure is checking that folly::init() was called when application started. I guess there was a relatively recent (April 2017) change in folly promoting the error message in the Singleton-inl.h

[2017-10-06 20:20] zhi-zhao-dailymotion opened #194 "Memory leak in HTTPConnector on connectSuccess?"
Hi,
We're using proxygen as an HTTP client. We maintence the `HTTPUpstreamSession` in order to reuse it, and only re-connect the `HTTPConnector` when necessary.

However, during testing, we see consistent memory leaks when lots of re-connection happens in our service. And we found that inside `HTTPConnector::connectSuccess()` (which is called when a new connect succeeded) from `HTTPConnector.cpp`

[2017-10-06 20:25] afrind commented on #194
HTTPUpstreamSession is self deleting - it knows when it is done because it has received a TCP fin from the other side or you've asked it to drain() and all outstanding requests are complete.  You need to add it to a wangle::ConnectionManager if you want to engage the idle timeout logic which will also lead to an eventual shutdown/cleanup.

[2017-10-13 19:16] zhi-zhao-dailymotion commented on #194
Thank you very much for the detailed explanation!

[2017-10-13 19:16] #194 closed

[2017-10-18 09:15] badarihp opened #199 "HTTPMethod PATCH is not supported."
Hi,
  Looks like HTTPMethod PATCH is not supported (https://github.com/facebook/proxygen/blob/master/proxygen/lib/http/HTTPMethod.h ).

Would like to know of any plans to support the same?

Regards
 badari

[2017-10-18 17:02] afrind commented on #199
You can call HTTPMessage::setMethod() with any string you like, and retrieve with getMethodString.
 getMethod will return none if your method is not in the list.  The enum is just a shortcut and uses less storage.  That said, should be an easy PR to add PATCH there if you like.

[2017-10-20 06:36] badarihp commented on #199
Thank you for info

[2017-10-20 06:36] #199 closed

[2017-10-20 07:21] badarihp commented on #199
Hi Alan,
 Have initiated a PR : https://github.com/facebook/proxygen/pull/200

Thanks
 badari

[2017-10-21 02:03] boynedmaster opened #201 "Wiki page has malformed text."
I clicked on the Wiki tab to find the following tex;t

    **`tez* cs((**))`**

This probably isn't supposed to be there.

[2017-10-23 05:11] lanxi commented on #201
Thank you for reporting this @boynedmaster. We have cleaned up the wiki tab and the most important information about Proxygen can still be found inside README.

[2017-10-23 05:11] #201 closed

[2017-10-24 18:58] afrind commented on #119
This went a bit stale.  I'm closing it out but please reopen if you are still stuck here or if you have a resolution that worked for you.

[2017-10-24 18:58] #119 closed

[2017-10-30 15:03] patrick-hallinan commented on #178
Thanks!

[2017-10-30 15:03] #178 closed

[2017-11-04 00:09] rektide commented on #127
https://code.facebook.com/posts/608854979307125/building-zero-protocol-for-fast-secure-mobile-connections/ makes me feel like Facebook may have an implementation of QUIC tucked under a mattress somewhere, & the modified Zero protocol alteration of it. These sure would be great to get to see.

[2017-11-04 02:25] afrind commented on #127
We are currently building an implementation of IETF QUIC, which is evolving from Google QUIC.  We don’t have an implementation of Google QUIC and we don’t have plans to support it.  We plan to open source our IETF QUIC implementation and the proxygen integration with it as soon as we practically can.

From: rektide <notifications@github.com>
Reply-To: facebook/proxygen <reply@reply.github.com>
Dat

[2017-11-11 03:35] andrewstucki commented on #3
Not to resurrect old issues or anything, but just in case someone else wanted some steps for building proxygen on OS X, [here's a gist](https://gist.github.com/andrewstucki/b3242e6a5a4520cabfa1a15ff857ca3f) of what I did that got everything up and running pretty quickly.

Only real oddities are that you have to patch the configuration and Makefiles to link against `boost_thread-mt` instead of `boo

[2017-11-15 19:23] vinothchandar commented on #127
@afrind is there a rough ETA? Also curious, if you have any explicit goals for reducing the client binary size. We (at Uber) are also exploring this route, with a focus of having a thin binary that can be put inside apps easily. Would be thrilled to connect over this..

[2017-11-24 05:27] hobbytp opened #203 "deps-centos.sh shall use "yum -y install" instead of "yum install" to avoid input "y" duing docker img build"
I try to build proxygen in centos OS docker image, but the dockerfile always failed as below, so I think we can change from "yum install" to "yum -y install" to avoid the manual step during docker image build.
[code]

BR,

Hobby

[2017-11-29 03:08] kapcino opened #204 "Wrong response from previous request"
I created a server using Proxygen based on EchoServer.

The basic procedure to receive a request from a client, and then I create a thread to fetch data from db. After the data is fetched, send the response back to the client.

[code]
It works well for slow requests, but when I want to use wrk for benchmark, I found a problem.

Say the service is like ip2location, I use wrk to benchmark, like this

[2017-11-29 10:05] kapcino commented on #204
Just found the bug in my own code, thanks!

[2017-11-29 10:05] #204 closed

[2017-12-05 06:37] mariasmo opened #206 "does proxygen have websockets support?"
hi ,

does proxygen have websockets support yet?

thanks

[2017-12-05 16:48] afrind commented on #206
Can you elaborate by what websocket support you would like from proxygen?  Proxygen can handle the HTTP interactions required for a websocket handshake (Upgrade headers, send 101 Switching Protocls), but does not provide any native parsing or generating of websocket frames.

[2017-12-14 22:24] dddmello commented on #203
Sure can take a look and if things look reasonable will add it in.

[2017-12-19 20:02] keithmendozasr commented on #103
My apologies for reviving a closed issue. Unfortunately, I'm not having much luck in figuring out how I can use the RFC1827 class to handle the POST body messages. I attempted to find where/when HTTP1xCodec class is called/used exactly; however, I'm not having any luck keeping track of the trail. Looking at RFC1827 class, I get the impression that I should replace HTTP1xCodec in cases that I want

[2017-12-20 03:59] keithmendozasr opened #209 "Please provide a sample on how the RFC1827 class can be used."
This is in reference to issue #103. I found the the class; but, I'm having a hard time figuring out how I can use this codec. Looking at the code, I get the impression that this should somehow replace the HTTP1xCodec in my RequestHandler. However, looking at how HTTP1xCodec is used that approach doesn't feel right.

I'm willing to contribute a working sample if someone can point me in the right di

[2017-12-25 10:54] kapcino opened #210 "Logging for ResponseBuilder"
My handler class stores several headers from the request, and sends back in response, like this:

[code]

I checked the source code of ResponseBuilder, and not found any function for logging the whole headers.
Is there some way to log the headers for ResponseBuilder?
Thanks.

[2018-01-02 16:38] afrind commented on #209
It's not supposed to replace 1xCodec.  It's intended to be used on the body data that comes from an onBody callback.

[2018-01-09 03:40] dio commented on #3
Add a comment to ☝️ [gist](https://gist.github.com/andrewstucki/b3242e6a5a4520cabfa1a15ff857ca3f). It seems OK now to compile [latest](https://github.com/facebook/proxygen/archive/v2018.01.08.00.tar.gz) proxygen, given [latest](https://github.com/facebook/wangle/archive/v2018.01.08.00.tar.gz) wangle with latest folly from homebrew on osx.

[2018-01-09 04:33] fredemmott commented on #3
For what it’s worth, it’s been used as part of HHVM on Mac for a few years now, without any issues I remember - though we extended HHVM’s cmake-based build system to build it, rather than using proxygen’s one

[2018-01-16 01:40] brunonishimoto commented on #162
I am having the same problem that it stucks at `if(!downstreamPush_)`. How to fix it?

[2018-01-17 00:27] lnicco commented on #203
this has been merged.
closing the issue

[2018-01-17 00:27] #203 closed

[2018-01-18 08:36] kdp-dev opened #211 "Is there a way to get more details on what part of the header is invalid"
I0118 08:33:37.268347  9165 http_client.cpp:225] In onError
E0118 08:33:37.268425  9165 http_client.cpp:226] error.describe()what="Error parsing message: invalid character in header", direction=0, proxygenError=ParseHeader, codecStatusCode=-1, httpStatusCode=0
E0118 08:33:37.268440  9165 http_client.cpp:227] error.what(): Error parsing message: invalid character in header

[2018-01-23 09:06] #210 closed

[2018-01-29 20:35] dddmello commented on #211
Hmm can take a look about trying to improve the message and perhaps at least provide an index.

[2018-02-06 23:40] jmccl commented on #206
I suspect @mariasmo is essentially requesting that the websocket proxygen module referred to by @lanxi in #170 be open sourced.

[2018-02-08 06:09] psrikhanta opened #214 "Consistent Cloudfront 403s with curl sample client"
# Environment
OS: Ubuntu 16.04.3 LTS
built from master

# Description:
Accessing resources via the curl example on cloudfront leads to 403s. Attempting the same request with nghttp2, browser or go 1.9 works fine.

_Sidenote_: Cloudfront will return a 403 if a get request has a body https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/RequestAndResponseBehaviorCustomOrigin.html#Reques

[2018-02-08 17:03] afrind commented on #214
My hunch is that this is because proxygen can sometimes send the EOM flag in an empty DATA frame, even for GETs.  Try changing CurlClient to sendHeaders/sendBody/sendEOM for POST and sendHeadersWIthEOM for GET - I suspect this will work.

I'm inclined to say CloudFront is not totally compliant with the spec here - there is no body for this GET, it just has a delayed END_STREAM flag, but perhaps it

[2018-02-08 18:09] psrikhanta commented on #214
Confirmed 👍 - changed to sendHeadersWithEOM and commented out txn_->sendEOM(); in sendRequest.

I'm going to close this out since it only applies to me.

Thank you :)

[2018-02-08 18:09] #214 closed

[2018-02-09 17:00] afrind commented on #214
We'd accept a PR since that is strictly better, or we will update CurlClient when we get around to it.

[2018-02-12 20:08] afrind commented on #209
RFC1867Test.cpp has sort of an example usage as well.  Closing for now.

[2018-02-12 20:08] #209 closed

[2018-02-14 15:23] VarsMolta commented on #150
Hi. Is there an update on open sourcing the connection pool feature?

[2018-02-14 23:26] afrind commented on #150
Sadly, not right now.  We'll let folks know when we have concrete plans

[2018-02-16 01:08] w-o-o commented on #211
I think we do have the detailed error message, which header name and value in HTTP2Codec.cpp.  Here is one example

@kdp-dev  are you using http/1.1 or spdy?

[2018-02-18 04:36] kdp-dev commented on #211
@w-o-o I’m using http/1.1
Will try this though.

[2018-02-23 04:31] venkatesh551 opened #215 "proxygen curlclient is storing the Entire File in the IOBufQueue . How to avoid this ?"
Hi,
Currently, I am benchmarking the proxygen samples/curl client. Its memory utilization is very high in case of PUT.
txn->sendBody(iobuf)  not writing to the wire immediately. How to do that?

[2018-02-23 18:18] maxgeorg commented on #215
Hi @venkatesh551,
To throttle egress in CurlClient you can register your implementation of HTTPTransaction::TransportCallback interface with the transmitting HTTPTransaction object. HTTPTransaction will call HTTPTransaction::TransportCallback::bodyBytesGenerated() every time a the next block of data is transmitted. You can use it as a signal to read more data from the file, and queue this data for

[2018-02-28 05:12] venkatesh551 commented on #215
Ok, Thanks, It's working Fine. After a series of txn_->sendBody() in
bodyBytesGenerated()  method,  calling txn->sendEom() is causing segfault

[2018-03-01 18:14] maxgeorg commented on #215
@venkatesh551, calling txn_->sendEom() inside bodyBytesGenerated() callback is not a good idea. One of the possible crash reasons is HTTPTransaction::sendEOM() internally calling transportCallback_->bodyBytesGenerated(...):
https://github.com/facebook/proxygen/blob/master/proxygen/lib/http/session/HTTPTransaction.cpp#L1000
But there could be also other reasons.

[2018-03-02 13:12] masseman opened #216 "Return session idle time in actual milliseconds instead of rounding to seconds"
The return type for `HTTPSessionBase::getIdleTIme()` is `std::chrono::milliseconds` (and `latestActive_` should be able to provide millisecond-granularity) but it is rounded to seconds before the return:

https://github.com/facebook/proxygen/blob/e7889fd001ac9035e4d776526636d47e8360f19b/proxygen/lib/http/session/HTTPSessionBase.h#L555

Would it be possible to return the actual milliseconds instead

[2018-03-02 20:27] siyengar opened #217 "Remove SPDY and NPN support"
It has been almost 3 years since HTTP/2 was standardized. In the next few days we're going to remove support for all versions of SPDY as well as NPN in proxygen. We observe from our metrics that the amount of SPDY requests that Facebook receives is too small to keep supporting SPDY. We recommend that all users move to HTTP/2. We believe this is a good way forward. Not only does HTTP/2 have better

[2018-03-10 02:24] w-o-o commented on #179
@voznesenskym  did you figure that out?  If so, could you send a PR for us

[2018-03-10 06:11] voznesenskym commented on #179
Yeah I did. Let me clarify what Uber's contribution policy is these days
and get back to you.

On Fri, Mar 9, 2018 at 6:25 PM Woo <notifications@github.com> wrote:

[2018-03-13 11:54] polonevitch commented on #150
Hi. How can i reuse HTTPUpstreamSession for new transactions? newTransaction always return null. The code like following:
1) connectSuccess(HTTPUpstreamSession)    <------- ok
2) HTTPTransaction* txn =HTTPUpstreamSession.newTransaction    <-----success
if(txn)
{
          txn->sendHeaders
          txn->sendEOM();
}
EventBase.loop()    <------response complete
txn = newTransaction   <-------- null

[2018-03-15 23:22] dsclassen opened #219 "lib/http fails to compile with "undefined reference to jump_fcontext""
I'm stuck on this step. I've compiled all dependencies from source. I'm on CentOS 7 using the devtoolset-7 environment.

<code>make  all-recursive
make[1]: Entering directory '/usr/local/dcs/proxygen/proxygen/lib/http'
Making all in .
make[2]: Entering directory '/usr/local/dcs/proxygen/proxygen/lib/http'
/bin/sh ../../libtool  --tag=CXX   --mode=link g++  -pthread -DLIBMC_FBTRACE_DISABLE  -Wno-mi

[2018-03-16 22:40] keithmendozasr opened #220 "CodecTest segfaults on SPDYCodecTest.JunkSPDY test case."
When running deps.sh the CodecTest fails on SPDYCodecTest.JunkSPDY when it segfaults. Not sure if this is relevant given issue #217.

Steps to reproduce:

1. Checkout proxygen v2018.03.12.00 tag
1. Run `./deps.sh && ./reinstall.sh`
1. Observe the following output:
[code]
1. Starting in line 46 of [test-suite.log](https://github.com/facebook/proxygen/files/1820951/test-suite.log) shows a stack dump

[2018-03-23 06:58] CodeToJohnson opened #222 "这是什么"
这是什么

[2018-03-23 06:58] #222 closed

[2018-04-10 04:23] corndolly opened #224 "Could i send file directly without copy to userspace when download some file."
I implement "download" by copy data into userspace with proxygen,   it is very costed.
Does proxygen support "sendfile" now?

[2018-04-10 17:16] maxgeorg commented on #224
@corndolly, could you please clarify what is the problem you run into while uploading files? You don't need to load the whole file to RAM before sending it. Instead you can read file piece-by-piece, and send it using chunked encoding, proxygen::HTTPTransaction has an interface for that.

[2018-04-11 02:04] corndolly commented on #224
@maxgeorg

Exactly, this is my way now.  But it is very costly,  because we need to copy data into userspace before send it.   The max speed for one thread is only about 120MB/s.

[2018-04-11 02:10] maxgeorg commented on #224
120Mb/s is enough to saturate 1Gb network interface.
@corndolly, are you trying to saturate a network interface faster than 1Gb?
Also where do you suspect the bottleneck is?

[2018-04-11 04:00] corndolly commented on #224
@maxgeorg

Yes,  my NIC is 25Gb.

Because i found lots of malloc/free and memcpy in perf.

[2018-04-16 11:06] dr-hagar commented on #219
The link line needs this added:

`-lboost_context -dl`

took me a while to figure out :/

[2018-04-21 07:34] loveleon opened #225 "Ubuntu16.04 complile "proxygen"(master version) get DSO error"
compile environment information: ubuntu16.04 64bit gcc-5.4
when i run proxygen deps.sh to compile proxygen.
i got an error:
libtool: link: ranlib .libs/libqcram.a
libtool: link: rm -fr .libs/libqcram.lax
libtool: link: ( cd ".libs" && rm -f "libqcram.la" && ln -s "../libqcram.la" "libqcram.la" )
/bin/bash ../../libtool --tag=CXX --mode=link g++ -std=gnu++14 -pthread -DLIBMC_FBTRACE_DISABLE -Wno-mi

[2018-04-27 21:50] AO-StreetArt commented on #225
I received the same error, I ran the below command to get -ldl into the build command and ensure that the linker could find both libdl.so and libdl.so.2:

    export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/lib32/:/usr/lib/x86_64-linux-gnu/
    export LIBRARY_PATH=$LIBRARY_PATH:/lib32/:/usr/lib/x86_64-linux-gnu/
    export LIBS=-ldl

Then re-executed.  The error message changes slightly:

[code]

The lin

[2018-04-28 22:11] jmccl commented on #225
Getting the same error on debian.

[2018-04-29 18:51] jmccl commented on #225
I took a look at this and the source of the problem seems to be that folly, at some point, stopped creating shared libraries.

(This causes the error above because CompressionSimulator links to the folly static library and therefore doesn’t pick up the ‘dl’ dependency. There’s also a boost_context dependency that needs to be added, but even if you get through this, you get a bunch of fPIC errors e

[2018-04-30 17:19] Orvid commented on #225
@simpkins This sounds like an unintended side effect of the switch over to CMake for Folly and Wangle upstream :)

[2018-05-04 07:55] loveleon commented on #225
@jmccl   i ask for help from folly already. You can find the answer from the closed issue.

[2018-05-11 05:04] bolanbujing opened #227 "_ZN5folly12BadFormatArgD1Ev"
I download  proxygen-2018.05.07.00 and build ,  get an error,  information is :
libtool: link: g++  -fPIC -DPIC -shared -nostdlib /usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/crti.o /usr/lib/gcc/x86_64-linux-gnu/5/crtbeginS.o  .libs/HTTPServer.o .libs/HTTPServerAcceptor.o .libs/RequestHandlerAdaptor.o .libs/SignalHandler.o   ../lib/.libs/libproxygenlib.a -liberty -lwangle -lz -lssl -l

[2018-05-16 20:03] Rodbourn commented on #225
Could you elaborate on getting a clean build with Ubuntu 18.04?

[2018-05-16 21:35] emgre commented on #225
To get a clean build, you need to compile folly as a shared library. To do this, modify https://github.com/facebook/proxygen/blob/6903e7b6bbd9c638eba2ac85cd2a04541823ad01/proxygen/deps.sh#L111 and https://github.com/facebook/proxygen/blob/6903e7b6bbd9c638eba2ac85cd2a04541823ad01/proxygen/deps.sh#L133  to be `cmake configure -DBUILD_SHARED_LIBS=ON -DCMAKE_POSITION_INDEPENDENT_CODE=ON ..`

Here's a

[2018-05-16 22:50] Rodbourn commented on #225
Thank you *very* much.  I had -DBUILD_SHARED_LIBS=ON on line 111, but was missing it from 133, and I was missing -DCMAKE_POSITION_INDEPENDENT_CODE=ON on both.

I got a clean build on 18.04.

It would be nice if they addressed this...

[2018-05-16 22:52] afrind commented on #225
Would one of you like to submit a PR?

[2018-05-16 22:59] Rodbourn commented on #225
I'd be happy to :)

[2018-05-17 13:37] Rodbourn opened #231 "Question on security"
I'm about a day into exploring proxygen and wanted to ask about it's intended use.  Is it intended to be public facing, or to reside behind a public facing reverse proxy such as ngix?  I didn't see any mention of proxygen being hardened, or how secure it might be.  I know there is the white hat bounty, but that seems to be the only comment on the topic.

If there's somewhere else I should ask, I'm

[2018-05-17 15:58] Rodbourn commented on #231
That works for me, harder to have a battle test than that.  I hadn't realized it's public facing - thank you.

[2018-05-17 15:58] #231 closed

[2018-05-17 19:09] simpkins commented on #225
Sorry, I just had a chance to look at this.  I don't think that building folly and wangle as shared libraries is really the ideal fix here.  Neither folly nor wangle have stable ABIs, and we never update their soname when binary-incompatible changes are made, so using them as shared libraries makes it very easy to accidentally cause problems for yourself unless you are very careful about managing

[2018-05-17 22:16] Rodbourn commented on #225
I didn't find it that simple, I'm trying what @emgre suggests now.  With the above in mind, I agree against shared libraries.

[2018-05-17 23:09] Rodbourn commented on #225
I had to update line 111 of deps.sh to

`cmake configure .. -DBUILD_SHARED_LIBS=Off`

Does this sound correct?

[2018-05-18 02:47] bolanbujing commented on #227
@afrind platform is Ubuntu 16.04.4 LTS and build script is deps.sh

[2018-05-18 03:44] suspend0 commented on #227
https://github.com/facebook/proxygen/pull/229 -- this modified `deps.sh` to compile with -fPIC.  Perhaps it fixes your issue?

[2018-05-18 06:17] bolanbujing commented on #227
@suspend0 but i don't know how to   modified deps.sh to compile with -fPIC

[2018-05-18 16:19] suspend0 commented on #227
Sorry I was unclear. I meant the Pull Request here: https://github.com/facebook/proxygen/pull/229 merged changes to deps.sh which enable -fPIC (the cmake option -DCMAKE_POSITION_INDEPENDENT_CODE=ON).  If you click through to the Pull Request you will see.

Since these changes are merged very recently updating your copy of proxygen may help.

[2018-05-21 01:55] bolanbujing commented on #227
@suspend0 think you ，i see

[2018-05-21 01:56] #227 closed

[2018-05-26 23:47] jmccl commented on #225
I put in a pull request (#233) to build folly and wangle statically.

[2018-05-29 07:12] rdhabalia opened #234 "How to create Persistent HTTPSession to serve multiple transactions"
### Question

We would like to implement a Http-Client which can cache the session and reuse the same HTTPSession for sub-sequent http-requests so, we can avoid new connection-creation for every new request. I have followed the example provided at [CurlClientMain.cpp](https://github.com/facebook/proxygen/blob/master/proxygen/httpclient/samples/curl/CurlClientMain.cpp).

**Issue:**
I am not able to

[2018-05-29 19:46] rdhabalia commented on #234
any pointers how to prevent `HTTPSession` to be shutdown after completing the transaction?

[2018-05-29 20:01] afrind commented on #234
To shutdown an HTTPSession gracefully, call drain().  It will terminate after all existing streams have finished.

Normally HTTPSession should stay alive, unless the underlying HTTP semantics dictate that it close (eg: HTTP/1.0 without keep-alive, HTTP/1.1 with connection: close, or H2 GOAWAY message).  Try running at -v 4 for additional debug output that may help you understand why the session is

[2018-05-29 23:14] rdhabalia commented on #234
@afrind
I was able to get debug logs and I can see that `HTTPTransaction` received `Connection: keep-alive` header for HTTP/1.1.
It seems after transaction completes it calls  [HTTPTransaction::onDelayedDestroy](https://github.com/facebook/proxygen/blob/v2018.04.02.00/proxygen/lib/http/session/HTTPTransaction.cpp?utf8=%E2%9C%93#L99). I don't see any direct code-path which calls it explicitly.
Do y

[2018-05-30 06:58] rdhabalia commented on #234
@afrind any suggestion?

[2018-05-30 14:59] Charles-iSentium opened #235 "Running as a service/daemon"
Is there any documentation on running this as a daemon?  Just knowing how to run the echo demo as one would be great.  Thanks!

[2018-05-31 00:15] afrind commented on #234
Can you print your response message?  If you use the response builder and add .closeConnection() it will add a Connection: close header to the response, which would result in the behavior you see here.

[2018-05-31 00:21] afrind commented on #235
I don't think there's anything special about running a proxygen based server as a daemon.  Wrap it in nohup?

[2018-05-31 06:41] rdhabalia commented on #234
url returns html-body in response of the message and it prints correctly for very first request. I am not sure if that response-body will help here as it's big response-text.

No, I am not using response builder, I am following same example provided into [CurlClientMain.cpp](https://github.com/facebook/proxygen/blob/master/proxygen/httpclient/samples/curl/CurlClientMain.cpp) where I cache `proxyge

[2018-05-31 16:17] afrind commented on #234
It will only shutdown the session when a transaction completes if HTTPSession::shouldShutdown returns true.  CurlClient calls closeWhenIdle from connectSuccess - are you doing that?

[2018-05-31 17:47] rdhabalia commented on #234
Initially, I was not calling it as we don't want to close the session and keep it open. However, I have tried to call `closeWhenIdle` on `connectSuccess` and still the same behavior.

once, first txn completes and when we try to execute subsequent txn on the same session, below is the snapshot of session-state: (if it can help to understand the issue)
https://gist.github.com/rdhabalia/630779fbbac1

[2018-07-05 20:59] #216 closed

[2018-07-10 00:19] VitorFalcao commented on #77
Hey @afrind, is this still needed? I would like to contribute to the project and this seems like a good start.

[2018-07-11 10:59] aftabnaveed commented on #235
It's very easy these days to setup something like this in systemd.

https://www.freedesktop.org/software/systemd/man/systemd.service.html

[2018-07-15 20:59] idofilus opened #236 "Proxy sample - request_.getHost() returning empty string"
When I tried the proxy sample, seems like the request_.getHost() return empty strings.

The result of curl:

`$ curl -v --header "Host: google.com" http://localhost:11000`

[code]

Of course it can be solved with:
`const std::string host = headers->getHeaders().getSingleOrEmpty("Host");`

But, why doesn't it show the correct host in the request_ ?

[2018-07-15 21:05] afrind commented on #236
If you are curling through a proxy you need an absolute URL.  Try:

curl -x localhost:11000 http://www.google.com

[2018-07-15 21:30] idofilus commented on #236
Yeah, it did worked.
But the issue I described also happen when I tried to put: `127.0.0.1 example.com` in the hosts file, now when I'm going to http://example.com it have the same issue. Any idea why ?

[2018-07-15 23:32] afrind commented on #236
The proxy sample is a forward proxy and only looks at the authority in the absolute URL passed to it for where to make its connection.  I suppose you could also fallback to the Host header if a relative URL was passed, but I've always seen clients using absolute URLs to traverse forward proxies.

I'm not sure I follow what you are trying to do with 127.0.0.1 and example.com.  Can you include more

[2018-07-16 00:10] idofilus commented on #236
Thanks, you actually made it very clear pointing out that the sample is a _forward proxy_. While my goal is _reverse proxy_.

[2018-07-16 00:10] #236 closed

[2018-07-16 12:12] idofilus opened #237 "Proxygen as a Reverse Proxy"
As far as I understand from learning about proxygen, I believe the current open-sourced proxygen is a forward proxy. And the Facebook's proxygen reverse proxy version is currently closed-source due the deeply integration with the Facebook's internal code _(as I seen [here](https://news.ycombinator.com/item?id=8563539))_.

I want to know what the current status, how much missing from the current op

[2018-07-16 12:40] idofilus commented on #237
My actual goal with proxygen as a reverse proxy is not too complicated.
I'm not sure if the issue I described is a missing component or wrong usage of the library.
HTTPS requests work great with ```curl -x localhost:11000 https://www.google.com```. But if I understand right, and I want to use it as a reverse proxy. Setting up my Windows hosts file and changing the IP to localhost, _(using of cours

[2018-07-16 14:24] afrind commented on #237
So a reverse proxy acts like the server it is proxying - eg: you should not need the -x parameter to curl.  You would just curl http://example.com:11000, and it would be configured/hardcoded to route your request to the server it is proxying.  If you are reverse proxying more than one server, you can implement logic to decide which server to proxy to (eg: using the Host header, or other parts of t

[2018-07-16 18:55] idofilus commented on #237
Thanks a lot, one last thing.
In the two wrappers we can see in the _proxy_ sample, we have _onEgressPaused_ and _onEgressResumed_. Could it be a typo that the _onEgressResumed_ wrap the ```parent_.onServerEgressPaused();``` and not ```parent_.onServerEgressResumed();``` ?

https://github.com/facebook/proxygen/blob/master/proxygen/httpserver/samples/proxy/ProxyHandler.h#L109

[2018-07-23 15:00] ritunp commented on #206
We recently added support for WebSockets. Proxygen handles the handshake part if the application asks for a WebSocket upgrade. To ask for a WebSocket upgrade on a transaction, the HTTPMessage has  a call "setEgressWebsocketUpgrade". Responses will similarly be marked with a flag if they contain appropriate WebSocket response headers - this can be checked with a call to "isIngressWebsocketUpgrade"

[2018-07-24 06:20] wackykid opened #239 "Ubuntu 14.04 LTS unable to find boost_context"
downloade the latest version of proxygen on Ubuntu 14.04 LTS and tried to use ./deps.sh to build... got the following error..

[code]

[2018-07-24 21:20] lnicco commented on #239
@wackykid thanks for reporting this issue.
deps.sh specifies libboost-all-dev as a dependency
and according to Ubuntu 14.04 docs that should include libbost-context-dev
https://packages.ubuntu.com/trusty/libboost-all-dev

Perhaps something went wrong on your box when installing libboost-all-dev ? could you please try manually uninstalling that package and running deps.sh again ?

Let us know if th

[2018-07-25 02:17] wackykid commented on #239
hi... thanks.. you are right.. looks like it is because in my environment LD_LIBRARY it contains paths to other project directories where by there exists part of libboost libraries in one of the directories... as a result even when i tried reinstalling the package the same problem still occurred. but once i removed the paths from LD_LIBRARY the issue is resolved.

[2018-07-25 02:17] #239 closed

[2018-07-26 06:45] kivikakk opened #240 "How to stop processing new requests while we're still streaming results from earlier ones?"
Hi! I'm working with Proxygen to make a simple REST-ish server. Here's the context:

* simple server that runs with number of threads = number of processors * cores.
* `onEOM` we perform a CPU-intensive operation on the input data and construct a response. (for a ~1mb input we produce ~8mb of output; the computation itself takes about ~2s of CPU time.)

The operation produces output as a stream; a

[2018-07-27 16:00] afrind commented on #240
That's the best way to do it.

[2018-07-30 10:43] NoOneNo commented on #239
" my environment LD_LIBRARY it contains paths to other project directories where by there exists part of libboost libraries"
I have same situation. how to check this ???

[2018-07-31 19:40] jai1 commented on #234
@afrind - I too am trying to get connection pool work with HttpSession. I tried the method you mentioned in your comment and it works as long as there are outstanding transactions. But as soon as all transactions are processed the session kills itself.

In our case, we want a long-lived connection which will remain open even if there are no outstanding transactions.

I was wondering if you know of

[2018-07-31 20:55] afrind commented on #234
As long as you do not call drain/closeWhenIdle and the session has not seen an error, GOAWAY or Connection: close header, it will remain open when idle.

[2018-08-01 08:12] wackykid commented on #239
i just ran:
`env | grep LD_LIBRARY`

After which i examine each of the path, the problem with my environment is due to me having some of my projects depended on specific boost static libraries, hence my environment was setup to point to these static libraries which are contained inside my project's sub-directories. But since my project didn't contain all the boost libraries (because they are not r

[2018-08-06 20:51] idofilus opened #241 "Session handling data after shutdown"
I managed to reproduce the issue with the [proxy sample](https://github.com/facebook/proxygen/tree/master/proxygen/httpserver/samples/proxy)

Seems like the session data _(first `Acceptor onEmpty` and then `AsyncSocket::handleRead()`)_ is used after the session done the shutdown and destroy.

To reproduce it simply abort the request as soon as possible, either by doing `CTRL+C` on curl or in the b

[2018-08-07 17:20] nginxsantos opened #242 "Proxygen running environment?"
I am evaluating proxygen as an http library for my application. I need both client and server support.

Can Proxygen work just a library to the application , i.e can it run inside the application thread?  Can it fit into the application’s a single epoll loop? Does ProxyGen fit the model where a single thread can be used to handle socket activity ?

Can I run Proxygen library without creating separ

[2018-08-07 22:25] ritunp commented on #242
Yes it is a library and will fit in with your application and it's single thread.

[2018-08-08 05:14] badarihp commented on #242
@ritunp , i think HTTP Server run in multithreaded model, looking at HTPPServer.cpp start function which creates IOThreadPoolExecutor with a single thread and another IOThreadPoolExecutor ("HTTPSrvExec") as execution threads and the thread which invokes HTTPServer->start function will eventually loop forever ,  mainEventBase_->loopForever() ...

Can you provide an example of proxygen http server w

[2018-08-10 06:31] yjr930 opened #243 "install proxygen without internet"
I need to install proxygen on a machine without internet.
I have installed all dependency, but when I run ./deps-centos.sh it seems that it must connect to github.com to download something.

--2018-08-10 14:30:22--  (try:11)  https://github.com/google/googletest/archive/release-1.8.0.zip
Connecting to github.com|52.74.223.119|:443... failed: Connection timed out.
Connecting to github.com|13.250.17